<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>


  <button href="#" class="button-red">.button-red</button>
                <button href="#" class="button-gray">.button-gray</button>
                <button href="#" class="button-dark-gray">.button-dark-gray</button><br />
                <button href="#" class="op-button-red">.op-button-red</button>
                <button href="#" class="op-button-gray">.op-button-gray</button>
                <button href="#" class="op-button-dark-gray">.op-button-dark-gray</button>