	<a class="default-button">Default Button</a>

	<a class="default-button">Default Button</a>

	<a class="default-button">Default Button</a>

	<a class="default-button">Default Button</a>

	<a class="default-button block">Default Button Block</a>

	<a class="default-button block">Default Button Block</a>

	<a class="default-button block">Default Button Block</a>
	
	<a class="default-button block">Default Button Block</a>