	<a class="impact-button">Impact Button</a>

	<a class="impact-button">Impact Button</a>

	<a class="impact-button">Impact Button</a>

	<a class="impact-button">Impact Button</a>

	<a class="impact-button block">Impact Button Block</a>

	<a class="impact-button block">Impact Button Block</a>

	<a class="impact-button block">Impact Button Block</a>

	<a class="impact-button block">Impact Button Block</a>