	<a class="outline-button">Outline Button</a>

	<a class="outline-button">Outline Button</a>

	<a class="outline-button">Outline Button</a>

	<a class="outline-button">Outline Button</a>

	<a class="outline-button block">Outline Button Block</a>

	<a class="outline-button block">Outline Button Block</a>

	<a class="outline-button block">Outline Button Block</a>
	
	<a class="outline-button block">Outline Button Block</a>