	<a class="rounded-flat-button">Round Flat Button</a>

	<a class="rounded-flat-button">Round Flat Button</a>

	<a class="rounded-flat-button">Round Flat Button</a>

	<a class="rounded-flat-button">Round Flat Button</a>

	<a class="rounded-flat-button block">Round Flat Button Block</a>

	<a class="rounded-flat-button block">Round Flat Button Block</a>

	<a class="rounded-flat-button block">Round Flat Button Block</a>
	
	<a class="rounded-flat-button block">Round Flat Button Block</a>