	<a class="rounded-outline-button">Round Outline Button</a>

	<a class="rounded-outline-button">Round Outline Button</a>

	<a class="rounded-outline-button">Round Outline Button</a>

	<a class="rounded-outline-button">Round Outline Button</a>

	<a class="rounded-outline-button block">Round Outline Button Block</a>

	<a class="rounded-outline-button block">Round Outline Button Block</a>

	<a class="rounded-outline-button block">Round Outline Button Block</a>
	
	<a class="rounded-outline-button block">Round Outline Button Block</a>