	<a class="subtle-button">Subtle Button</a>

	<a class="subtle-button">Subtle Button</a>

	<a class="subtle-button">Subtle Button</a>

	<a class="subtle-button">Subtle Button</a>

	<a class="subtle-button block">Subtle Button Block</a>

	<a class="subtle-button block">Subtle Button Block</a>

	<a class="subtle-button block">Subtle Button Block</a>
	
	<a class="subtle-button block">Subtle Button Block</a>