	<a class="hero-button">Hero Button</a>

	<a class="hero-button">Hero Button</a>

	<a class="hero-button">Hero Button</a>

	<a class="hero-button">Hero Button</a>

	<a class="hero-button block">Hero ButtonBlock</a>

	<a class="hero-button block">Hero Button Block</a>

	<a class="hero-button block">Hero Button Block</a>
	
	<a class="hero-button block">Hero Button Block</a>