	<a class="simple-btn">Simple Button</a>

	<a class="simple-btn">Simple Button</a>

	<a class="simple-btn">Simple Button</a>

	<a class="simple-btn">Simple Button</a>

	<a class="simple-btn block">Simple Button Block</a>

	<a class="simple-btn block">Simple Button Block</a>

	<a class="simple-btn block">Simple Button Block</a>
	
	<a class="simple-btn block">Simple Button Block</a>