	<a class="simple-btn-fade">Simple Button Fade</a>

	<a class="simple-btn-fade">Simple Button Fade</a>

	<a class="simple-btn-fade">Simple Button Fade</a>

	<a class="simple-btn-fade">Simple Button Fade</a>

	<a class="simple-btn-fade block">Simple Button Fade Block</a>

	<a class="simple-btn-fade block">Simple Button Fade Block</a>

	<a class="simple-btn-fade block">Simple Button Fade Block</a>
	
	<a class="simple-btn-fade block">Simple Button Fade Block</a>