	<a class="circle-btn">Circle Button</a>

	<a class="circle-btn">Circle Button</a>

	<a class="circle-btn">Circle Button</a>

	<a class="circle-btn">Circle Button</a>

	<a class="circle-btn block">Circle Button Block</a>

	<a class="circle-btn block">Circle Button Block</a>

	<a class="circle-btn block">Circle Button Block</a>
	
	<a class="circle-btn block">Circle Button Block</a>