
.event-stamp-button {
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #efefef;
    transition: .3s ease all;
  }

  .event-stamp-button--date {
    width: 120px;
    background-color: white;
    border: 1px solid $dark-gray;
    margin-right: 1em;
    text-align: center;
    text-transform: uppercase;

    .event-stamp-button--month {
      background-color: $dark-gray;
      font-weight: 900;
      color: $white;
      display: inline-block;
      padding: 5px;
      width: 100%;
    }
    .event-stamp-button--day {
      display: inline-block;
      font-family: $font-alt;
      font-size: 2em;
      font-weight: 400;
      color: $dark-gray;
      padding: 10px 0;
    }
  }

  .event-stamp-button--text {
    font-weight: 900;
    line-height: 1em;

    a {
      color: $dark-gray;

      &:hover,
      &:focus {
        color: $red;
      }
    }
  }
}
