/* cards */
.box-card {
    margin: 1em;
    padding: 1em;
    width: 100%;
    max-width: 500px;
    border: 1px solid #000;
}

.box-card--content {
    margin-bottom: 1em;
}

.box-card--cta {}