<section class="top-navigation">
  <div class="container disable-container-mobile">
    <div class="row no-margin-mobile">
      <div class="col-md-offset-6">
        <div class="top-navigation--container">
          <ul class="horizontal-list ">
            <li><a href="#" class="">Solar</a></li>
            <li><a href="#" class="">Blackboard</a></li>
            <li><a href="#" class="">Google Apps</a></li>
            <li><a href="#" class="">System Status</a></li>
              <div class="search-container default clearfix border-box hidden-md hidden-sm hidden-xs">
        		    <form class="search-wrapper" action="http://stonybrook.edu/search">
          		    <input type="text" id="search-form-query1" name="q" title="Search" value="" class="populate" size="30" placeholder="Search This Site">
                  <!-- <button name="submit" type="submit" class="btn" id="search-form-submit1" alt="Search" aria-label="search">
  	                <span class="sbuicon-search"></span>
                  </button> -->
                </form>
      	      </div>
            <li class="hidden-lg"><a href="#">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="page" id="page">
	{{> organisms-header }}
  <nav class="unity-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="unity-navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="unity-nav-icon-bar"></span>
              <span class="unity-nav-icon-bar"></span>
              <span class="unity-nav-icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="unity-navbar-collapse collapse">
            <ul class="unity-navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#about">Events</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                <ul class="unity-navbar-dropdown-menu">
                  <li><a href="#">Services A-Z</a></li>
                  <li><a href="#">Services by Category</a></li>
                  <li><a href="#">System Status</a></li>
                  <li><a href="#">System Status</a></li>
                </ul>
              </li>
              <li><a href="#contact">Projects</a></li>
              <li><a href="#contact">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

<section class="bold-story gradient-overlay__topLeft">
  <img class="" src="../../placeholders/images/bold-story.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="system-status-bar--online">
            All systems reported <a href="#">online</a>.
            If you are experiencing issues, <a href="#">report a problem now</a>.
          </div>
        </div>
        <div class="col-md-6">
          <div class="bold-story--content">
            <h1 class="bold-story--heading">
              Best In Class<br>
              Services
            </h1>
            <p class="bold-story--text">
            DoIT takes you far beyond with best in class services and support.
            </p>
            <a href="#" class="bold-story--button">Read The Story <span class="bold-story--icon sbuicon-long-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- ===========================================================================

Secondary Navigation

============================================================================ -->

<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">
  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggle--text">Jump to a Section On This Page &raquo;</span>
      </button>
    </div>
    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">
      <ul class="nav navbar--fixed__links main-nav">
        <li class="fixed-nav--text hidden-xs hidden-sm">On This Page</li>
        <li><a href="#blackboardBasics" class="fixedNavLink scrollto">News</a></li>
        <li><a href="#studentGuide" class="fixedNavLink scrollto">Events & Workshops</a></li>
        <li><a href="#instructorGuide" class="fixedNavLink scrollto">Services</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- ===========================================================================

News & Events Sections

============================================================================ -->
<section class="cozy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bold-introduction">
          <h2 class="bold-introduction--heading">
            DoIT News
          </h2>
          <p class="bold-introduction--text">
            Find out what's happening inside DoIT.
          </p>
        </div>
      </div>
    </div>
    <div class="cozy">
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="bold-moves-box" style="background-image: url('../../placeholders/images/thumb-square-fire.jpg')">
            <a href="#" class="bold-moves-box--title">
              <h3>New Services Offered</h3>
            </a>
            <a href="#" class="bold-moves-box--story">
              <p>Learn more about DoIT's new services.</p>
              <span class="bold-moves-box--fullStory">Read Story</span>
            </a>
            <a href="#" class="bold-moves-box--link">
              <span class="bold-moves-box--engaged-text">DoIT News</span>
              <span class="bold-moves-box--disengaged-text">Read This Story</span>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="bold-moves-box" style="background-image: url('../../placeholders/images/thumb-square-yosemite.jpg')">
            <a href="#" class="bold-moves-box--title">
              <h3>News Story Title</h3>
            </a>
            <a href="#" class="bold-moves-box--story">
              <p>News Story Description</p>
              <span class="bold-moves-box--fullStory">Read Story</span>
            </a>
            <a href="#" class="bold-moves-box--link">
              <span class="bold-moves-box--engaged-text">DoIT News</span>
              <span class="bold-moves-box--disengaged-text">Read This Story</span>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="bold-moves-box" style="background-image: url('../../placeholders/images/thumb-square-gear.jpg')">
            <a href="#" class="bold-moves-box--title">
              <h3>News Story Title</h3>
            </a>
            <a href="#" class="bold-moves-box--story">
              <p>News Story Description</p>
              <span class="bold-moves-box--fullStory">Read Story</span>
            </a>
            <a href="#" class="bold-moves-box--link">
              <span class="bold-moves-box--engaged-text">DoIT News</span>
              <span class="bold-moves-box--disengaged-text">Read This Story</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
    <div class="row">
      <div class="col-md-4">
        <div class="bold-news-card">
          <img class="bold-news-card--image">
          <div class="bold-news-card--title">
            Example News story
          </div>
          <div class="bold-news-card--info">
            Example news story information
          </div>
          <div class="bold-news-card--button">
            <a href="#">Read The Story</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="bold-news-card">
          <img class="bold-news-card--image">
          <div class="bold-news-card--title">
            Example News story
          </div>
          <div class="bold-news-card--info">
            Example news story information
          </div>
          <div class="bold-news-card--button">
            <a href="#">Read The Story</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="bold-news-card">
          <img class="bold-news-card--image">
          <div class="bold-news-card--title">
            Example News story
          </div>
          <div class="bold-news-card--info">
            Example news story information
          </div>
          <div class="bold-news-card--button">
            <a href="#">Read The Story</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section class="divider">
  <div class="container">
    <hr class="divider-gray">
  </div>
</section>

<section class="cozy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bold-introduction">
          <h2 class="bold-introduction--heading">
            Events & Workshops
          </h2>
          <p class="bold-introduction--text">
            Attend our technology workshops and events to gain valuable skills.
          </p>
        </div>
      </div>
    </div>

    <div class="cozy">
      <div class="row">
        <div class="col-sm-6 col-md-3 no-padding-right">
          <div class="event-stamp">
            <div class="display--flex-mobile">
              <div class="event-stamp-date">
                <time datetime="2016-09-01">
                  <span class="event-stamp-month">September</span>
                  <span class="event-stamp-day">01</span>
                </time>
              </div>
              <div class="event-stamp-information">
                <a href="#">Mini Byte: New to Mac</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 no-padding-right">
          <div class="event-stamp">
            <div class="display--flex-mobile">
              <div class="event-stamp-date">
                <time datetime="2016-09-01">
                  <span class="event-stamp-month">October</span>
                  <span class="event-stamp-day">01</span>
                </time>
              </div>
              <div class="event-stamp-information">
                <a href="#">Mini Byte: New to Mac</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 no-padding-right">
          <div class="event-stamp">
            <div class="display--flex-mobile">
              <div class="event-stamp-date">
                <time datetime="2016-09-01">
                  <span class="event-stamp-month">November</span>
                  <span class="event-stamp-day">01</span>
                </time>
              </div>
              <div class="event-stamp-information">
                <a href="#">Mini Byte: New to Mac</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 no-padding-right">
          <div class="event-stamp">
            <div class="display--flex-mobile">
              <div class="event-stamp-date">
                <time datetime="2016-09-01">
                  <span class="event-stamp-month">December</span>
                  <span class="event-stamp-day">01</span>
                </time>
              </div>
              <div class="event-stamp-information">
                <a href="#">Mini Byte: New to Mac</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider">
  <div class="container">
    <hr class="divider-gray">
  </div>
</section>

<section class="cozy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bold-introduction">
          <h2 class="bold-introduction--heading">
            Services
          </h2>
          <p class="bold-introduction--text">
            View our services, system status, and scheduled maintenance.
          </p>
        </div>
      </div>
    </div>


    <div class="cozy">
      <ul class="pills-tabs">
        <li class="active"><a href="#tab_a" data-toggle="pill">Services</a></li>
        <li class=""><a href="#tab_b" data-toggle="pill">System Status</a></li>
        <li class=""><a href="#tab_c" data-toggle="pill">Scheduled Maintenance</a></li>
      </ul>
      <div class="tab-content cozy">
        <div class="tab-pane active" id="tab_a">
          <h4 class="heading">SERVICES</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac turpis egestas.</p>
        </div>
        <div class="tab-pane" id="tab_b">
          <h4 class="heading">SYSTEM STATUS</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
          ac turpis egestas.</p>
        </div>
        <div class="tab-pane" id="tab_c">
          <h4 class="heading">SCHEDULED MAINTENANCE</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
          ac turpis egestas.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="shield-footer fluffy">
    <div class="container">
        <div class="row">

            {{# listItems.four }}
                <div class="col-md-3">
                    {{> molecules-footer-nav }}
                </div>
            {{/ listItems.four }}
        </div>
        <div class="row">

            {{# listItems.three }}
                <div class="col-md-3">
                    {{> molecules-footer-nav }}
                </div>
            {{/ listItems.three }}
        </div>
    </div>
</div>
