<!-- ===========================================================================

** Title Section **

This section is only visible on mobile screens.


============================================================================ -->

<section class="hidden-md hidden-lg hidden-xl snug" style="background-color: #111;">
  <div class="container">

    <h2 class="heading white noMarginBottom">Explore IT For Students</h2>
    <p class="small white noMarginTop">Division of Information Technology</p>

  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Header Video **

A teaser video will be loaded first in order to save on bandwidth for users
visiting the guide.

Users will select the "Watch the Welcome Video" button, which will load/autoplay the
orientation welcome video, which is hosted on YouTube.

In the event that JavaScript is disabled, the orientation-placeholder.jpg image
will be loaded instead. The button will still appear, and users will be directed
to the YouTube video.

============================================================================ -->

<div class="header-video">
    <img src="/placeholders/images/orientation/orientation-placeholder.jpg"
         class="header-video__media"
         data-video-URL="https://www.youtube.com/embed/ZtUV30kfa1U?rel=0&hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*"
         data-teaser="/placeholders/video/orientation-teaser-video"
         data-video-width="560"
         data-video-height="315">
    <div class="header-video__play-trigger">
      <a href="https://www.youtube.com/embed/ZtUV30kfa1U?rel=0&hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*"  target="_blank" class="default-button button-large" id="header-video__play-trigger">Watch the Welcome Video &raquo;</a>
      <a href="#explore" class="default-button button-large scrollto">Explore Student Technology &raquo;</a>
    </div>
    <button type="button" class="default-button button-large header-video__close-trigger" id="header-video__close-trigger">Close video</button>
</div>


<!-- ===========================================================================

** Navigation **

This navigation will fix to the top of the screen on scroll.
Fixed position will be removed when back to the top of the page.

============================================================================ -->


<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#explore" class="fixedNavLink scrollto">Let's Begin</a></li>
        <li><a href="#gettingStarted" class="fixedNavLink scrollto">Getting Started</a></li>
        <li><a href="#aroundCampus" class="fixedNavLink scrollto">Student Services</a></li>
        <li><a href="#learningTools" class="fixedNavLink scrollto">Learning Tools</a></li>
        <li><a href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- ===========================================================================

** Explore Introduction Section **

============================================================================ -->

<section id="explore" class="full-height-section display--flex gradient-overlay__TopRight" style="background-image: url('../../placeholders/images/Explore.jpg');">
  <div class="container">
      <div class="col-md-offset-6 wow animated fadeInUp">
        <div class="airy bg-white side-padding">
          <h2 class="heading red">Exploring Student Technology</h2>
          <h4 class="subheading">This guide will provide you with an overview on essential services offered by the Division of Information Technology (DoIT) that will enable you to be successful at Stony Brook University.</h4>
          <br>
          <a href="#gettingStarted" class="default-button button-large scrollto">Continue Exploring &raquo;</a>
        </div>
      </div>
  </div>
</section>

<section class="redRaysBorder hidden-sm hidden-xs" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Carousel Section **

Using the owl-carousel JavaScript library. The carousels themselves are made up
of individual cards called "article", which sit in a parent element called "articles".

The settings for the "sliding" actio are set in main.js

============================================================================ -->

  <!-- This acts as a spacer on smaller screens -->
  <section class="hidden-lg" style="padding: 15px;"></section>

<section class="bg-x-light-gray">

  <!-- This acts as a spacer on larger screens -->
  <section class="fluffy hidden-xs hidden-sm hidden-md"></section>

        <!-- ===================================================================
        ** Getting Started Carousels **
        ==================================================================== -->

        <div id="gettingStarted">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      	  	background-size: cover;" data-match-height="gettingStarted">
                <div class="text-left wow animated fadeInUp" style="padding: 10px 20px;">
                  <h2 class="heading white">Getting Started</h2>
                  <p class="normal-text wow animated fadeInUp white">You will learn about <a class="panelWiFi-btn white">WiFi</a>, <a href="#panelSOLAR-btn" class="white">SOLAR</a> and your <a href="#panelNetID-btn" class="white">NetID</a> in this section.</p>
                </div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelWiFi-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/WiFi-final.jpg');"  data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">WolfieNet (WiFi)</h4>
                      <h6 class="article__sbutitle">wifi.stonybrook.edu</h6>
                      <p class="small">WolfieNet is Stony Brook University's wireless network on West Campus, Southampton, Manhattan, and parts of East Campus. It is available to all faculty, students, staff, and guests.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelSOLAR-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/SOLAR-final.jpg');" data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">SOLAR</h4>
                      <h6 class="article__sbutitle">solar.stonybrook.edu</h6>
                      <p class="small">SOLAR is Stony Brook University's enterprise-wide, self-service system which provides faculty, staff, and students with online access to manage personal information.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelNetID-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/NetID-final.jpg');" data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">NetID</h4>
                      <h6 class="article__sbutitle">netid.stonybrook.edu</h6>
                      <p class="small">Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>

        <!-- Did you know section -->
        <section class="wow animated fadeInUp">
          <div class="container fluffy display--flex bg-asphalt">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <h2 class="heading white">Did you know DoIT provides mobile charging stations around campus?</h2>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 text-center text-left-mobile">
                <a class="default-button default-button__white scrollto" href="#aroundCampus">Find out more about services around campus &raquo;</a>
              </div>
            </div>
        </section>

        <!-- This acts as a spacer on smaller screens -->
        <section class="hidden-lg" style="padding: 15px;"></section>

        <!-- ===================================================================
        ** Around Campus Section **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>


        <div id="aroundCampus">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" data-match-height="aroundCampus" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      			background-size: cover; background-position: fixed;" >
                <div class="text-left wow animated fadeInUp" style="padding: 30px;">
                  <h2 class="heading white">Student Services</h2>
                  <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelPrinting-btn">
                  <div class="article overlay-gray wow animated fadeInUp" data-match-height="aroundCampus" style="background-image: url('../../placeholders/images/orientation/Printing-final.jpg');">
                    <!-- <img src="../../placeholders/images/orientation/Printing-final.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Printing</h4>
                      <h6 class="article__subtitle">printing.stonybrook.edu</h6>
                      <p class="small">Students can print in SINC Sites and other computer labs on campus, or by using Stony Brook's Print From Anywhere service.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelSINC-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/sincsites-final.jpg');" data-match-height="aroundCampus">
                    <!-- <img src="../../placeholders/images/orientation/sincsites-final.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">SINC Sites</h4>
                      <h6 class="article__subtitle">sincsites.stonybrook.edu</h6>
                      <p class="small">SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelMBC-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/MBC.jpg');" data-match-height="aroundCampus">
                    <!-- <img src="../../placeholders/images/orientation/MBC.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Mobile Charging Stations</h4>
                      <p class="small">There are six free-standing mobile charging stations in Frey Hall and Javits Lecture Center installed as part of the University's MOBILE/DIGITAL NOW initiative.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>


        <!-- Did you know section -->
        <section>
          <div class="container fluffy bg-asphalt gradient-overlay__TopRight display--flex">
              <div class="col-md-6 col-sm-12">
                <h2 class="heading white">Have you ever wanted to learn computer programming?</h2>
                <p class="subheading white">DoIT provides access to Lynda.com tutorials where you can learn new skills or brush up on some old skills at your own pace at a time and location that works best for you.</p>
              </div>
              <div class="col-md-6 col-sm-12 text-center text-left-mobile">
                <a class="default-button default-button__white scrollto" href="#learningTools">Discover More About Online Learning &raquo;</a>
              </div>
            </div>
        </section>

        <!-- This acts as a spacer on smaller screens -->
        <section class="hidden-lg" style="padding: 15px;"></section>

        <!-- ===================================================================
        ** Learning Tools Section **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>

        <div id="learningTools">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      	  	background-size: cover;" data-match-height="learningTools">
                <div class="text-left wow animated fadeInUp" style="padding: 30px;">
                  <h2 class="heading white">Learning Tools</h2>
                  <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelGoogle-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/gapps.jpg');" data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/gapps.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Google Apps</h4>
                      <h6 class="article__subtitle">google.stonybrook.edu</h6>
                      <p class="small">Stony Brook's Google Apps suite of products includes Mail, Calendar, Drive, Contacts, Sites, Groups, Hangouts and a host of other applications to enhance communication and real-time collaboration across campus.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelBlackboard-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/blackboard.jpg');"  data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/blackboard.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Blackboard</h4>
                      <h6 class="article__subtitle">blackboard.stonybrook.edu</h6>
                      <p class="small">Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelLynda-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/lynda.jpg');" data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/lynda.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Lynda.com</h4>
                      <h6 class="article__subtitle">lynda.stonybrook.edu</h6>
                      <p class="small">Lynda.com is a service that offers high-quality video tutorials for common computer applications and other skills.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ===================================================================
        ** End of Carousels **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="fluffy hidden-xs hidden-sm hidden-md"></section>

</section>

<!-- ===================================================================

** Where to get help section **

==================================================================== -->

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="gettingHelp" class="fluffy bg-farbeyondred">
  <div class="container display--flex">
      <div class="col-md-12 wow animated fadeInUp">
        <h3 class="heading white">Where to Find Help</h3>
        <p class="subheading white">DoIT is committed to providing outstanding service to the Stony Brook University community.<br>Submit a help ticket through our service management system.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp">
        <a class="default-button default-button__white noMarginLeft" href="http://service.stonybrook.edu">Submit A Ticket</a>
      </div>
    </div>
  </div>
</section>

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Slideout Panels Content **

These slideout panels are translated onto the screen when the appropriate article
card is selected.

============================================================================ -->


  <!-- =========================================================================
  SOLAR Slideout Panel
  ===========================================================================-->

  <div class="panelSOLAR slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">SOLAR</h2>
                <a href="http://solar.stonybrook.edu" class="default-button default-button__white">solar.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#accessingsolar">Accessing SOLAR</a><br>
                  <a href="#register" class="scrollto">Register for Classes</a><br>
                  <a href="#pay" class="scrollto">Pay Your Bills</a><br>
                  <a href="#viewgrades" class="scrollto">View Your Grades</a><br>
                  <a href="#managenetid" class="scrollto">Manage NetID</a><br>
                  <a href="#sbalert" class="scrollto">SB Alert</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="register">
                <h4 class="heading heading-small uppercase dark-gray">Accessing SOLAR</h4>
                <p class="normal-text">
                  To access SOLAR visit <a href="http://solar.stonybrook.edu">solar.stonybrook.edu</a>. Use your 9-digit SOLAR ID and password to login.
                  If you are a student, your initial password is your birthday in MMDDYY format.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/EUyujom0UaU?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Access SOLAR</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="register">
                <h4 class="heading heading-small uppercase dark-gray">Register For Classes</h4>
                <p class="normal-text">
                  In SOLAR you will be able to register for classes. You can use our new schedule builder tool that is integrated with SOLAR to help build your class schedule much quicker.
                  <br><br>
                  <a href="http://it.stonybrook.edu/services/schedule-builder">Learn More About Schedule Builder &raquo;</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="pay">
                <h4 class="heading heading-small uppercase dark-gray">Pay Your Bills</h4>
                <p class="normal-text">
                  In SOLAR you will be able to pay room deposits, tuition fees, and pay other bills. You will be notified via email if there is an outstanding financial obligation in your account.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/ZxBivt_vAAE?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">What Do I Owe? / Pay Tuition and Fees</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="viewgrades">
                <h4 class="heading heading-small uppercase dark-gray">View Your Grades</h4>
                <p class="normal-text">
                  Final course grades are posted in SOLAR. You can view grades from current and past semesters.<br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/WjR8zig6WAY">View My Course History/Grades</a>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="managenetid">
                <h4 class="heading heading-small uppercase dark-gray">Manage NetID</h4>
                <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.<br><br>
                <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a></p>
              </div>
              <hr>
              <div class="text-blurb" id="sbalert">
                <h4 class="heading heading-small uppercase dark-gray">SB Alert</h4>
                <p class="normal-text">SB Alert is the University's emergency notification system used to alert the campus community of major emergencies, immediate threats or impending situations that could pose harm, disrupt classes, impact facilities, activities, or other operations.
                  <br><br>
                  <a href="http://it.stonybrook.edu/help/kb/configuring-sb-alert">Configuring SB Alert &raquo;</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of SOLAR Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  WiFi Slideout Panel
  ===========================================================================-->

  <div class="panelWiFi slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">WolfieNet (Wi-Fi)</h2>
                <a href="http://wolfienet.stonybrook.edu" class="default-button default-button__white">wolfienet.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#availablenetworks">Available Networks</a><br>
                  <a href="reportingwifiissues">Reporting Wi-Fi Issues</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">Available Networks</h4>
                <p class="normal-text">
                  <strong>WolfieNet-Get-Connected</strong><br>
                  Use for the first time when connecting to WolfieNet. This option configures Wi-Fi enabled devices to use WolfieNet properly.<br><br>
                  <strong>WolfieNet-Secure</strong><br>
                  This is the recommended network that should be used on a day-to-day basis after successfully configuring your Wi-Fi devices through WolfieNet-Get-Connected.<br><br>
                  <strong>WolfieNet-Guest</strong><br>
                  To be used by visitors to the University who do not have a NetID. Users must authenticate and agree to the Wireless Internet Policy.<br><br>
                  <strong>WolfieNet-Open</strong><br>
                  Available only in residence halls for gaming systems. Do not use for academic work or transactions such as banking or online shopping.<br><br>
                  <strong>Eduroam</strong><br>
                  Eduroam allows students, researchers and staff from participating institutions to obtain Internet connectivity across campus and when visiting other participating institutions.<br>
                  <a href="http://it.stonybrook.edu/services/eduroam">Learn More About Eduroam &raquo;</a>
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/jNIimBjxMCc?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on iOS</a><br>
                  <a href="https://youtu.be/SXNF6At4iDw?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Android</a><br>
                  <a href="https://youtu.be/cKtOzB6orXY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on Windows</a><br>
                  <a href="https://youtu.be/FEBVUnHbSvY?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">How to Connect to WolfieNet-Secure on MAC</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="reportingwifiissues">
                <h4 class="heading heading-small uppercase dark-gray">Reporting WiFi Issues</h4>
                <p class="normal-text">
                  If you are experiencing WiFi issues it is recommended that you log a support ticket with Client Support via <a href="http://service.stonybrook.edu">service.stonybrook.edu</a>.<br>
                  If you are unable to log a support ticket, call Client Support at (631) 632-9800.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of WiFi Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  NetID Slideout Panel
  ===========================================================================-->

  <div class="panelNetID slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">NetID</h2>
                <a href="http://netid.stonybrook.edu" class="default-button default-button__white">netid.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#availablenetworks">What is my NetID?</a><br>
                  <a href="#netidservices">Services Accessed with NetID</a><br>
                  <a href="#netidtrouble">NetID Issues</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">What is my NetID?</h4>
                <p class="normal-text">Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.
                <strong>The NetID and SOLAR ID are two different identifiers.</strong> To view your NetID, log in to <a href="http://solar.stonybrook.edu">SOLAR</a>, and select "NetID Maintenance".

                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                  <a href="https://youtu.be/sk8JFfw5F0o?list=PLxRC1iccSum8U0S3GeJF7OIegIBy34ylv">View Your NetID / Where to Change NetID Password</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="netidtrouble">
                <h4 class="heading heading-small uppercase dark-gray">Services Accessed with NetID</h4>
                  <ul class="bullets normal-text">
                    <li><a href="http://it.stonybrook.edu/services/blackboard">Blackboard &raquo;</a></li>
                    <li><a href="http://sincsites.stonybrook.edu">SINC Site computers and printers &raquo;</a></li>
                    <li><a href="">Department Shared Folders &raquo;</a></li>
                    <li><a href="http://wifi.stonybrook.edu">Wi-Fi (WolfieNet) &raquo;</a></li>
                    <li><a href="http://google.stonybrook.edu">Google Apps for Education (Email, Calendar, Docs, etc.) &raquo;</a></li>
                    <li><a href="">Library databases &raquo;</a></li>
                    <li><a href="">MySBfiles &raquo;</a></li>
                    <li><a href="http://yammer.stonybrook.edu">Yammer &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/qualtrics">Qualtrics Online Survey Tool &raquo;</a></li>
                    <li><a href="">Research Interests and Funding Opportunities Database &raquo;</a></li>
                    <li><a href="">SUNYSB.EDU Domain &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/sbyou">SB You WordPress &raquo;</a></li>
                    <li><a href="">Softweb &raquo;</a></li>
                    <li><a href="">Virtual SINC Site &raquo;</a></li>
                    <li><a href="">VPN &raquo;</a></li>
                    <li><a href="">Off-Campus Housing rental listings &raquo;</a></li>
                  </ul>
              </div>
              <hr>
              <div class="text-blurb" id="availablenetworks">
                <h4 class="heading heading-small uppercase dark-gray">NetID Issues</h4>
                <p class="normal-text">If you are having issues with your NetID and are unable to log a support ticket via <a href="http://services.stonybrook.edu">service.stonybrook.edu</a>, please call Client Support at (631) 632-9800.
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of NetID Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Printing Slideout Panel
  ===========================================================================-->

  <div class="panelPrinting slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">Printing</h2>
                <a href="http://printing.stonybrook.edu" class="default-button default-button__white">printing.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#printquota">Print Quota</a><br>
                  <a href="#howtoprint">How to Print</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="printquota">
                <h4 class="heading heading-small uppercase dark-gray">Print Quota</h4>
                <p class="normal-text">
                  All registered Stony Brook students are provided with a semester long quota of 2100 black and white pages in the SINC Sites, Health Sciences Library, and Residential Computing Centers or by using the Print From Anywhere service.
                  <br><br>
                  <strong>Available Print Quota</strong><br>
                  To check your available print quota, log in to the <a href="https://print.stonybrook.edu/MyPrintCenter/">Print Center</a> with your NetID and NetID password.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="howtoprint">
                <h4 class="heading heading-small uppercase dark-gray">How to Print</h4>
                <p class="normal-text">
                  <strong>SINC Sites</strong><br>
                  Send a print job directly to a printer located in a SINC site from a SINC Site computer. For a complete list of SINC site locations visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu</a>.<br><br>
                  <strong>Print From Anywhere</strong><br>
                  The Print From Anywhere service allows students to send print jobs to the SINC Site print queue from their own computers whether on campus or off campus. Students need to install the Print From Anywhere Client on their personal machine(s).
                  <br><br>
                  <a href="http://it.stonybrook.edu/help/kb/using-print-from-anywhere">Learn More About Using Print From Anywhere &raquo;</a><br><br>
                  <strong>Email</strong><br>
                  Send an email with an attached document from your @stonybrook.edu address to printfromanywhere@stonybrook.edu. Use your Stony Brook ID card to release your job at one of our <a href="http://it.stonybrook.edu/help/kb/pharos-release-station-locations">printing release stations</a>.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Printing Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  SINC Sites Slideout Panel
  ===========================================================================-->

  <div class="panelSINC slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">SINC Sites</h2>
                <a href="http://sincsites.stonybrook.edu" class="default-button default-button__white">sincsites.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatissincsite">What is a SINC Site?</a><br>
                  <a href="#sinclocations">SINC Site Locations</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="whatissincsite">
                <h4 class="heading heading-small uppercase dark-gray">What is a SINC Site?</h4>
                <p class="normal-text">
                  SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles. These computer labs are located in a majority of the academic buildings on campus and have scheduled open hours.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                   <a href="https://www.youtube.com/embed/_mrUSQjBz4k">SINC Site Promotional Video</a><br>
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="sinclocations">
                <h4 class="heading heading-small uppercase dark-gray">SINC Site Locations</h4>
                <p class="normal-text">Visit <a href="http://sincsites.stonybrook.edu">sincsites.stonybrook.edu </a> for a full list of SINC Site locations,
                  or view the <a href="http://it.stonybrook.edu/services/computer-labs/map">Campus SINC Site Map</a>.
                </p><br>
                <p class="normal-text"><strong>Popular SINC Site Locations</strong>
                  <ul class="normal-text bullets">
                    <li><a href="http://it.stonybrook.edu/services/sinc-sites/melville-library-sinc-site">Melville Library &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/sinc-sites/computer-science-sinc-site">Computer Science &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/sinc-sites/north-reading-room">North Reading Room &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/sinc-sites/tabler-digital-arts-media-lab">Tabler Digital Arts Lab &raquo;</a></li>
                    <li><a href="http://it.stonybrook.edu/services/sinc-sites/humanities-sinc-site">Humanities &raquo;</a></li>
                  </ul>
                </p>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of SINC Sites Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Mobile Charging Stations Slideout Panel
  ===========================================================================-->

  <div class="panelMBC slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">Mobile Charging Stations</h2>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatismcs">What is a Mobile Charging Station?</a><br>
                  <a href="#mcslocations">Mobile Charging Station Locations</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="whatismcs">
                <h4 class="heading heading-small uppercase dark-gray">What is a Mobile Charging Station?</h4>
                <p class="normal-text">
                  There are six free-standing mobile charging stations in Frey Hall and Javits Lecture Center this semester as part of the University’s Mobile/Digital Now initiative. This particular project is considered a pilot to test the usefulness of electrical power charging stations that students and other members of the campus community can use to plug their mobile devices into whenever batteries run low.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="mcslocations">
                <h4 class="heading heading-small uppercase dark-gray">Mobile Charging Station Locations</h4>
                  <ul class="normal-text bullets">
                    <li>Frey Hall Floors 1, 2, & 3</li>
                    <li>Javits Lecture Center (Main Lobby)</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Mobile Charging Stations Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Google Apps Slideout Panel
  ===========================================================================-->

  <div class="panelGoogle slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">Google Apps</h2>
                <a href="http://google.stonybrook.edu" class="default-button default-button__white">google.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#googleapps">Google Apps</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="googleapps">
                <h4 class="heading heading-small uppercase dark-gray">Your Email, calendar and collaboration Toolkit</h4>
                <p class="normal-text">
                  <strong>Google Drive</strong><br>
                    Enjoy UNLIMITED storage in Google Drive. You can store all of your files in Google Drive and share with others.
                  <br><br>
                  <strong>Gmail</strong><br>
                  To easily access your @stonybrook.edu email address go to <a href="http://stonybrook.edu/mycloud">stonybrook.edu/mycloud</a>. All official University communications will be directed to your @stonybrook.edu email address.
                  <br><br>
                  <strong>Google Calendar</strong><br>
                  Google Calendar allows users to easily create, share, edit, and delete meeting invitations, calendar events, and tasks. These are easily accessed and synced between computers and mobile devices.
                  <br><br>
                  <strong>Google Hangouts</strong><br>
                  Google Hangouts, on the Stony Brook domain, allows for video conferencing and live screen sharing for up to 15 participants.
                  <br><br>
                  <strong><span class="sbuicon-youtube"></span>  Related Videos</strong><br>
                   <a href="https://www.youtube.com/playlist?list=PL6Xrs39_KA2YqgzjceGMIWeqAImwbdeuJ">Google Apps Training Playlist by DoIT Training</a><br>
                </p>
              </div>
              <hr>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Google Apps Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Blackboard Slideout Panel
  ===========================================================================-->

  <div class="panelBlackboard slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">Blackboard</h2>
                <a href="http://blackboard.stonybrook.edu" class="default-button default-button__white">blackboard.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatisblackboard">What is Blackboard?</a><br>
                  <a href="#accessingblackboard">Accessing Blackboard</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="whatisblackboard">
                <h4 class="heading heading-small uppercase dark-gray">What is Blackboard?</h4>
                <p class="normal-text">
                  Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes. Blackboard includes a variety of features that allow instructors to do anything from uploading course documents, to posting an announcement, to collecting and grading assignments. For students, Blackboard offers an easy way to contact instructors, download and access course documents, and check grades.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="accessingblackboard">
                <h4 class="heading heading-small uppercase dark-gray">Accessing Blackboard</h4>
                <p class="normal-text">
                  <strong>Web Browser</strong><br>
                  From your browser, you can access Blackboard on a mobile device or desktop by heading to <a href="http://blackboard.stonybrook.edu">blackboard.stonybrook.edu</a>. You will use your NetID and NetID password to log in.
                  <br><br>
                  <strong>Blackboard Mobile App</strong><br>
                  You can access Blackboard on your mobile device by downloading the Blackboard Student App. Log in with your NetID and NetID password once the app is installed on your device.<br>
                  <ul class="normal-text bullets">
                    <li><a href="https://itunes.apple.com/us/app/bb-student-by-blackboard/id950424861?mt=8">iOS Devices &raquo;</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.blackboard.android.bbstudent&hl=en">Android Devices &raquo;</a></li>
                    <li><a href="https://www.microsoft.com/en-us/store/apps/bb-student/9nblggh08j8w">Windows Devices &raquo;</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of Blackboard Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  LYNDA.COM Slideout Panel
  ===========================================================================-->

  <div class="panelLynda slideout-panel from-right">
    <div class="slideout-panel-container">
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg'); background-size: cover;">
          <div class="container">
            <a href="#0" class="slideout-panel-close">Close</a>
            <!-- SOLAR Conent ================================================ -->
            <div class="slideout-panel-content text-center">
                <h3 class="heading heading-extra-large white noMarginBottom">Lynda.com</h2>
                <a href="http://lynda.stonybrook.edu" class="default-button default-button__white">lynda.stonybrook.edu &raquo;</a></p>
            </div>
          </div>
        </div>
        <section class="airy">
          <div class="container">
            <div class="col-md-3 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb">
                <h4 class="heading heading-small uppercase dark-gray">This Section</h4>
                <p class="normal-text">
                  <a href="#whatislynda">What is Lynda.com?</a><br>
                  <a href="#accessingblackboard">Accessing Lynda</a><br>
                </p>
              </div>
              <hr class="hidden-lg">
            </div>
            <div class="col-md-9 col-sm-12 wow animated fadeInUp">
              <div class="text-blurb" id="whatislynda">
                <h4 class="heading heading-small uppercase dark-gray">What is Lynda.com?</h4>
                <p class="normal-text">
                  Lynda.com is available to all Stony Brook University students, faculty and staff at no charge. With Lynda.com, you can learn new computer applications, design and business skills or brush up on some old skills at your own pace at a time and location that works best for you.
                </p>
              </div>
              <hr>
              <div class="text-blurb" id="accessingblackboard">
                <h4 class="heading heading-small uppercase dark-gray">Accessing Lynda</h4>
                <p class="normal-text">
                  <strong>Web Browser</strong><br>
                  From your browser, you can access Lynda via your browser by heading to <a href="http://lynda.stonybrook.edu">lynda.stonybrook.edu</a>. You will use your NetID and NetID password to log in.
                  <br><br>
                  <strong>Lynda Mobile App</strong><br>
                  You can access Lynda on your mobile device by downloading the Lynda App. Log in with your NetID and NetID password once the app is installed on your device.<br>
                  <ul class="normal-text bullets">
                    <li><a href="https://itunes.apple.com/us/app/lynda-learn-new-skills-online/id356169777?mt=8">iOS Devices &raquo;</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.lynda.android.root&hl=en">Android Devices &raquo;</a></li>
                    <li><a href="https://www.microsoft.com/en-us/store/apps/lyndacom/9wzdncrdsd1w">Windows Devices &raquo;</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- =========================================================================
  End of LYNDA.COM Slideout Panel
  ========================================================================== -->



<!-- ===========================================================================

  ** END of Slideout Panels Content **

============================================================================ -->



<!-- ===========================================================================

Slideout Panel Scripts

============================================================================ -->

<script>
    jQuery(document).ready(function($) {
        //open SOLAR panel
        $('.panelSOLAR-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSOLAR').addClass('is-visible');
        });
        //close SOLAR panel
        $('.panelSOLAR').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSOLAR').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open NetID panel
        $('.panelNetID-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelNetID').addClass('is-visible');
        });
        //close NetID panel
        $('.panelNetID').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelNetID').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open WiFi panel
        $('.panelWiFi-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelWiFi').addClass('is-visible');
        });
        //close WiFi panel
        $('.panelWiFi').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelWiFi').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Printing panel
        $('.panelPrinting-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelPrinting').addClass('is-visible');
        });
        //close Printing panel
        $('.panelPrinting').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelPrinting').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open SINC Sites panel
        $('.panelSINC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSINC').addClass('is-visible');
        });
        //close SINC panel
        $('.panelSINC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSINC').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Mobile Charging Stations panel
        $('.panelMBC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelMBC').addClass('is-visible');
        });
        //close Mobile Charging Stations panel
        $('.panelMBC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelMBC').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Google Apps panel
        $('.panelGoogle-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelGoogle').addClass('is-visible');
        });
        //close Google Apps panel
        $('.panelGoogle').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelGoogle').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Blackboard panel
        $('.panelBlackboard-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelBlackboard').addClass('is-visible');
        });
        //close Google Apps panel
        $('.panelBlackboard').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelBlackboard').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Lynda panel
        $('.panelLynda-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelLynda').addClass('is-visible');
        });
        //close Lynda panel
        $('.panelLynda').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelLynda').removeClass('is-visible');
                event.preventDefault();
            }
        });

    });
</script>

<!-- ===========================================================================

Video header script

============================================================================ -->

<script>
  $(document).ready(function() {
    $('.header-video').each(function(i, elem) {
        headerVideo = new HeaderVideo({
          element: elem,
          media: '.header-video__media',
          playTrigger: '.header-video__play-trigger',
          closeTrigger: '.header-video__close-trigger'
        });
    });
  });
</script>
