<!-- This Acts As a Border  -->
<section class="snug" style="background-image: url('/images/backgrounds/images/redSwooshes.jpg'); background-size: cover;"></section>
<!-- End Border  -->


<section class="homepage-hero-module">
    <div class="video-container">
        <video controls autoplay class="fillWidth">
            <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.mp4" type="video/mp4">
            <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.webm" type="video/webm">
            <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.ogv" type="video/ogg"> Your browser does not support this video type. Please update your browser.
        </video>

        <div class="poster hidden">
            <img src="http://www.videojs.com/img/poster.jpg" alt="">
        </div>
    </div>
</section>

<!-- This Acts As a Border  -->
<section class="snug" style="background-image: url('/images/backgrounds/images/redSwooshes.jpg'); background-size: cover;"></section>
<!-- End Border  -->


<section class="getting-started-section" style="background-image: url(''); background-size: cover;">
    <!-- Wrapper -->
    <div class="container">
        <div class="cozy">
            <h2 style="font-size: 72px; font-family: 'Effra W01', sans-serif; font-weight: 700; line-height: 1;">Getting Started</h2>
            <p style="font-size: 24px; font-family: 'Museo Slab W01', 'Museo Slab', Gerogia, serif; font-weight: 200; line-height: 1.3;">These three essential services are your gateway to all the Division of Information Technology has to offer. Explore each service to learn more about how they work.</p>
            <hr>
        </div>
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <section class="tiles">
                    <article class="style1 panelSOLAR-btn">
                        <span class="image">
          <img src="https://images.unsplash.com/photo-1421757295538-9c80958e75b0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=fde32d6086e1a183c97773d93055ef49" alt="" />
        </span>
                        <a href="#">
                            <h2>SOLAR</h2>
                            <div class="content">

                            </div>
                        </a>
                    </article>
                    <article class="style1 panelNetID-btn">
                        <span class="image">
          <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d172e9f03d0455ffa72c0ac6a30727e8" alt="" />
        </span>
                        <a href="#">
                            <h2>NETID</h2>
                            <div class="content">

                            </div>
                        </a>
                    </article>
                    <article class="style1 panelWiFi-btn">
                        <span class="image">
          <img src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9e32b9efa6049faeca9dca63ba1c6e8e" alt="" />
        </span>
                        <a href="#">
                            <h2>WiFi</h2>
                            <div class="content">

                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>

<div class="cozy">

</div>

<footer class="sbu-footer">
    <nav class="more-nav-v3 clearfix">
        <div class="container">
            <!-- Using bootstrap .container class for consistency -->
            <div class="more-nav-v3-wrapper">
                <div class="more-nav-v3-col">
                    <strong>Main Nav</strong>
                    <ul class="border-box clearfix">
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/" class="clearfix">Home</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/aboutsb.shtml" class="clearfix">About</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/admissions" class="clearfix">Admissions</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/academics.shtml" class="clearfix">Academics</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/research" class="clearfix">Research</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/athletics" class="clearfix">Athletics</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrookmedicine.edu" class="clearfix">Medicine</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/giving" class="clearfix">Giving</a>
                        </li>
                    </ul>
                </div>
                <div class="more-nav-v3-col">
                    <strong>Info For</strong>
                    <ul class="border-box clearfix">
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/for-students/" class="clearfix">Students</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/faculty-staff/" class="clearfix">Faculty &amp; Staff</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/alumni.shtml" class="clearfix">Alumni &amp; Friends</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://mobile.cc.stonybrook.edu/sb/undergraduate-admissions/parents/" class="clearfix">Parents</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://mobile.cc.stonybrook.edu/sb/community-relations/" class="clearfix">Neighbors</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrook.edu/campus-safety/" class="clearfix">Campus Safety</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/economic-development/" class="clearfix">Economic Development</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://sb.cc.stonybrook.edu/news/media_relations/reporters_toolkit.php" class="clearfix">Media</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/arts" class="clearfix">Arts &amp; Culture</a>
                        </li>
                    </ul>
                </div>
                <div class="more-nav-v3-col">
                    <strong>Find</strong>
                    <ul class="border-box clearfix">
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/search/people/" class="clearfix">People Directory</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/a-z.shtml" class="clearfix">A-Z Web Directory</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/calendars.shtml" class="clearfix">Calendars</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/maps.shtml" class="clearfix">Campus Maps</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/directions.shtml" class="clearfix">Directions</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/parking/" class="clearfix">Parking</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/visiting" class="clearfix">Visiting</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/sb/majors.shtml" class="clearfix">Majors &amp; Minors</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/jobs/" class="clearfix">Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="more-nav-v3-col">
                    <strong>Shortcuts</strong>
                    <ul class="border-box clearfix">
                        <li class="clearfix">
                            <a href="http://library.stonybrook.edu/" class="clearfix">Libraries</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://it.stonybrook.edu/services/solar" class="clearfix">Solar</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://blackboard.stonybrook.edu/" class="clearfix">Blackboard</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrook.edu/mycloud" class="clearfix">Google Apps</a>
                        </li>
                        <li class="clearfix">
                            <a href="stonybrook.edu/medicine-webmail" class="clearfix">Medicine Email</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrook.edu/happenings" class="clearfix">Happenings</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://www.stonybrook.edu/pres/" class="clearfix">Office of the President</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrook.edu/southampton" class="clearfix">SB Southampton</a>
                        </li>
                        <li class="clearfix">
                            <a href="http://stonybrook.edu/commcms/bnl/" class="clearfix">Brookhaven National Lab</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-footer-items">
                <div class="social-footer-wrapper clearfix">
                    <a class="circle" href="https://www.facebook.com/stonybrooku" title="Explore Stony Brook University on Facebook!" target="_blank"><span class="label hide-accessible">Facebook</span><em class="sbuicon-facebook"></em></a>
                    <a class="circle" href="https://twitter.com/stonybrooku" title="Check out Stony Brook tweets!" target="_blank"><span class="label hide-accessible">Twitter</span><em class="sbuicon-twitter"></em></a>
                    <a class="circle" href="http://instagram.com/stonybrooku" title="View Instagram posts by Stony Brook University!" target="_blank"><span class="label hide-accessible">instagram</span><em class="sbuicon-instagram"></em></a>
                    <a class="circle" href="https://www.flickr.com/photos/37984249@N06/" title="See Stony Brook photos on Flickr!" target="_blank"><span class="label hide-accessible">flickr</span><em class="sbuicon-flickr"></em></a>
                    <a class="circle" href="http://www.youtube.com/sbcomm" title="View Stony Brook pins on youtube!" target="_blank"><span class="label hide-accessible">youtube</span><em class="sbuicon-youtube-play"></em></a>
                </div>
                <a class="social-wall-link" href="http://stonybrook.edu/social/"><span>Check out our Social Media Wall&nbsp;<i class="sbuicon-long-arrow-right"></i></span></a>
                <a href="http://stonybrook.edu/" class="univ-logo-stacked clearfix"><img src="//mobile.cc.stonybrook.edu/sb/img/branding/logo/sbu/primary/72/stony-brook-university-logo-vertical.png" alt="Stony Brook University logo"></a>
            </div>
        </div>
    </nav>
    <div class="footer-container clearfix">
        <footer class="footer-bar">
            <nav class="wrapper">
                <span><span id="directedit" class="copyright">©</span> 2016 Stony Brook University</span> | <span>Stony Brook, NY 11794</span> | <span class="last">(631) 632-6000</span>
                <div class="clearfix policy-links">
                    <a class="item" href="http://www.stonybrook.edu/sb/access">Accessibility</a>
                    <a class="item" href="http://www.stonybrook.edu/sb/privacy">Privacy Policy</a>
                </div>
            </nav>
        </footer>
    </div>



    <!-- SOLAR -->
    <div class="panelSOLAR slideout-panel from-right">
        <header class="slideout-panel-header">
            <h3 class="slideout-panel-title white">&nbsp;SOLAR<span class="lighter">.STONYBROOK.EDU</h3>
            <a href="#0" class="slideout-panel-close">Close</a>
        </header>

        <div class="slideout-panel-container">
            <div class="slideout-panel-content">
                <h2>What is SOLAR?</h2>
            </div>
            <!-- slideout-panel-content -->
        </div>
        <!-- slideout-panel-container -->
    </div>
    <!-- slideout-panel -->

    <!-- NetID -->
    <div class="panelNetID slideout-panel from-right">
        <header class="slideout-panel-header">
            <h3 class="slideout-panel-title white">&nbsp;NetID<span class="lighter">.STONYBROOK.EDU</h3>
            <a href="#0" class="slideout-panel-close">Close</a>
        </header>

        <div class="slideout-panel-container">
            <div class="slideout-panel-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magnam accusamus obcaecati nisi eveniet quo veniam quibusdam veritatis autem accusantium doloribus nam mollitia maxime explicabo nemo quae aspernatur impedit cupiditate dicta
                    molestias consectetur, sint reprehenderit maiores. Tempora, exercitationem, voluptate. Sapiente modi officiis nulla sed ullam, amet placeat, illum necessitatibus, eveniet dolorum et maiores earum tempora, quas iste perspiciatis quibusdam
                    vero accusamus veritatis. Recusandae sunt, repellat incidunt impedit tempore iusto, nostrum eaque necessitatibus sint eos omnis! Beatae, itaque, in. Vel reiciendis consequatur saepe soluta itaque aliquam praesentium, neque tempora.
                    Voluptatibus sit, totam rerum quo ex nemo pariatur tempora voluptatem est repudiandae iusto, architecto perferendis sequi, asperiores dolores doloremque odit. Libero, ipsum fuga repellat quae numquam cumque nobis ipsa voluptates pariatur,
                    a rerum aspernatur aliquid maxime magnam vero dolorum omnis neque fugit laboriosam eveniet veniam explicabo, similique reprehenderit at. Iusto totam vitae blanditiis. Culpa, earum modi rerum velit voluptatum voluptatibus debitis, architecto
                    aperiam vero tempora ratione sint ullam voluptas non! Odit sequi ipsa, voluptatem ratione illo ullam quaerat qui, vel dolorum eligendi similique inventore quisquam perferendis reprehenderit quos officia! Maxime aliquam, soluta reiciendis
                    beatae quisquam. Alias porro facilis obcaecati et id, corporis accusamus? Ab porro fuga consequatur quisquam illo quae quas tenetur.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique, at excepturi adipisci repellat ut veritatis officia, saepe nemo soluta modi ducimus velit quam minus quis reiciendis culpa ullam quibusdam eveniet. Dolorum alias
                    ducimus, ad, vitae delectus eligendi, possimus magni ipsam repudiandae iusto placeat repellat omnis veritatis adipisci aliquam hic ullam facere voluptatibus ratione laudantium perferendis quos ut. Beatae expedita, itaque assumenda
                    libero voluptatem adipisci maiores voluptas accusantium, blanditiis saepe culpa laborum iusto maxime quae aperiam fugiat odit consequatur soluta hic. Sed quasi beatae quia repellendus, adipisci facilis ipsa vel, aperiam, consequatur
                    eaque mollitia quaerat. Iusto fugit inventore eveniet velit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique, at excepturi adipisci repellat ut veritatis officia, saepe nemo soluta modi ducimus velit quam minus quis reiciendis culpa ullam quibusdam eveniet. Dolorum alias
                    ducimus, ad, vitae delectus eligendi, possimus magni ipsam repudiandae iusto placeat repellat omnis veritatis adipisci aliquam hic ullam facere voluptatibus ratione laudantium perferendis quos ut. Beatae expedita, itaque assumenda
                    libero voluptatem adipisci maiores voluptas accusantium, blanditiis saepe culpa laborum iusto maxime quae aperiam fugiat odit consequatur soluta hic. Sed quasi beatae quia repellendus, adipisci facilis ipsa vel, aperiam, consequatur
                    eaque mollitia quaerat. Iusto fugit inventore eveniet velit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magnam accusamus obcaecati nisi eveniet quo veniam quibusdam veritatis autem accusantium doloribus nam mollitia maxime explicabo nemo quae aspernatur impedit cupiditate dicta
                    molestias consectetur, sint reprehenderit maiores. Tempora, exercitationem, voluptate. Sapiente modi officiis nulla sed ullam, amet placeat, illum necessitatibus, eveniet dolorum et maiores earum tempora, quas iste perspiciatis quibusdam
                    vero accusamus veritatis. Recusandae sunt, repellat incidunt impedit tempore iusto, nostrum eaque necessitatibus sint eos omnis! Beatae, itaque, in. Vel reiciendis consequatur saepe soluta itaque aliquam praesentium, neque tempora.
                    Voluptatibus sit, totam rerum quo ex nemo pariatur tempora voluptatem est repudiandae iusto, architecto perferendis sequi, asperiores dolores doloremque odit. Libero, ipsum fuga repellat quae numquam cumque nobis ipsa voluptates pariatur,
                    a rerum aspernatur aliquid maxime magnam vero dolorum omnis neque fugit laboriosam eveniet veniam explicabo, similique reprehenderit at. Iusto totam vitae blanditiis. Culpa, earum modi rerum velit voluptatum voluptatibus debitis, architecto
                    aperiam vero tempora ratione sint ullam voluptas non! Odit sequi ipsa, voluptatem ratione illo ullam quaerat qui, vel dolorum eligendi similique inventore quisquam perferendis reprehenderit quos officia! Maxime aliquam, soluta reiciendis
                    beatae quisquam. Alias porro facilis obcaecati et id, corporis accusamus? Ab porro fuga consequatur quisquam illo quae quas tenetur.</p>
            </div>
            <!-- slideout-panel-content -->
        </div>
        <!-- slideout-panel-container -->
    </div>
    <!-- slideout-panel -->

    <!-- WiFi -->
    <div class="panelWiFi slideout-panel from-right">
        <header class="slideout-panel-header">
            <h3 class="slideout-panel-title white">&nbsp;WiFi<span class="lighter">.STONYBROOK.EDU</h3>
            <a href="#0" class="slideout-panel-close">Close</a>
        </header>

        <div class="slideout-panel-container">
            <div class="slideout-panel-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magnam accusamus obcaecati nisi eveniet quo veniam quibusdam veritatis autem accusantium doloribus nam mollitia maxime explicabo nemo quae aspernatur impedit cupiditate dicta
                    molestias consectetur, sint reprehenderit maiores. Tempora, exercitationem, voluptate. Sapiente modi officiis nulla sed ullam, amet placeat, illum necessitatibus, eveniet dolorum et maiores earum tempora, quas iste perspiciatis quibusdam
                    vero accusamus veritatis. Recusandae sunt, repellat incidunt impedit tempore iusto, nostrum eaque necessitatibus sint eos omnis! Beatae, itaque, in. Vel reiciendis consequatur saepe soluta itaque aliquam praesentium, neque tempora.
                    Voluptatibus sit, totam rerum quo ex nemo pariatur tempora voluptatem est repudiandae iusto, architecto perferendis sequi, asperiores dolores doloremque odit. Libero, ipsum fuga repellat quae numquam cumque nobis ipsa voluptates pariatur,
                    a rerum aspernatur aliquid maxime magnam vero dolorum omnis neque fugit laboriosam eveniet veniam explicabo, similique reprehenderit at. Iusto totam vitae blanditiis. Culpa, earum modi rerum velit voluptatum voluptatibus debitis, architecto
                    aperiam vero tempora ratione sint ullam voluptas non! Odit sequi ipsa, voluptatem ratione illo ullam quaerat qui, vel dolorum eligendi similique inventore quisquam perferendis reprehenderit quos officia! Maxime aliquam, soluta reiciendis
                    beatae quisquam. Alias porro facilis obcaecati et id, corporis accusamus? Ab porro fuga consequatur quisquam illo quae quas tenetur.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique, at excepturi adipisci repellat ut veritatis officia, saepe nemo soluta modi ducimus velit quam minus quis reiciendis culpa ullam quibusdam eveniet. Dolorum alias
                    ducimus, ad, vitae delectus eligendi, possimus magni ipsam repudiandae iusto placeat repellat omnis veritatis adipisci aliquam hic ullam facere voluptatibus ratione laudantium perferendis quos ut. Beatae expedita, itaque assumenda
                    libero voluptatem adipisci maiores voluptas accusantium, blanditiis saepe culpa laborum iusto maxime quae aperiam fugiat odit consequatur soluta hic. Sed quasi beatae quia repellendus, adipisci facilis ipsa vel, aperiam, consequatur
                    eaque mollitia quaerat. Iusto fugit inventore eveniet velit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique, at excepturi adipisci repellat ut veritatis officia, saepe nemo soluta modi ducimus velit quam minus quis reiciendis culpa ullam quibusdam eveniet. Dolorum alias
                    ducimus, ad, vitae delectus eligendi, possimus magni ipsam repudiandae iusto placeat repellat omnis veritatis adipisci aliquam hic ullam facere voluptatibus ratione laudantium perferendis quos ut. Beatae expedita, itaque assumenda
                    libero voluptatem adipisci maiores voluptas accusantium, blanditiis saepe culpa laborum iusto maxime quae aperiam fugiat odit consequatur soluta hic. Sed quasi beatae quia repellendus, adipisci facilis ipsa vel, aperiam, consequatur
                    eaque mollitia quaerat. Iusto fugit inventore eveniet velit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magnam accusamus obcaecati nisi eveniet quo veniam quibusdam veritatis autem accusantium doloribus nam mollitia maxime explicabo nemo quae aspernatur impedit cupiditate dicta
                    molestias consectetur, sint reprehenderit maiores. Tempora, exercitationem, voluptate. Sapiente modi officiis nulla sed ullam, amet placeat, illum necessitatibus, eveniet dolorum et maiores earum tempora, quas iste perspiciatis quibusdam
                    vero accusamus veritatis. Recusandae sunt, repellat incidunt impedit tempore iusto, nostrum eaque necessitatibus sint eos omnis! Beatae, itaque, in. Vel reiciendis consequatur saepe soluta itaque aliquam praesentium, neque tempora.
                    Voluptatibus sit, totam rerum quo ex nemo pariatur tempora voluptatem est repudiandae iusto, architecto perferendis sequi, asperiores dolores doloremque odit. Libero, ipsum fuga repellat quae numquam cumque nobis ipsa voluptates pariatur,
                    a rerum aspernatur aliquid maxime magnam vero dolorum omnis neque fugit laboriosam eveniet veniam explicabo, similique reprehenderit at. Iusto totam vitae blanditiis. Culpa, earum modi rerum velit voluptatum voluptatibus debitis, architecto
                    aperiam vero tempora ratione sint ullam voluptas non! Odit sequi ipsa, voluptatem ratione illo ullam quaerat qui, vel dolorum eligendi similique inventore quisquam perferendis reprehenderit quos officia! Maxime aliquam, soluta reiciendis
                    beatae quisquam. Alias porro facilis obcaecati et id, corporis accusamus? Ab porro fuga consequatur quisquam illo quae quas tenetur.</p>
            </div>
            <!-- slideout-panel-content -->
        </div>
        <!-- slideout-panel-container -->
    </div>
    <!-- slideout-panel -->



    <script>
        jQuery(document).ready(function($) {
            //open SOLAR panel
            $('.panelSOLAR-btn').on('click', function(event) {
                event.preventDefault();
                $('.panelSOLAR').addClass('is-visible');
            });
            //close SOLAR panel
            $('.panelSOLAR').on('click', function(event) {
                if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                    $('.panelSOLAR').removeClass('is-visible');
                    event.preventDefault();
                }
            });

            //open NetID panel
            $('.panelNetID-btn').on('click', function(event) {
                event.preventDefault();
                $('.panelNetID').addClass('is-visible');
            });
            //close NetID panel
            $('.panelNetID').on('click', function(event) {
                if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                    $('.panelNetID').removeClass('is-visible');
                    event.preventDefault();
                }
            });

            //open WiFi panel
            $('.panelWiFi-btn').on('click', function(event) {
                event.preventDefault();
                $('.panelWiFi').addClass('is-visible');
            });
            //close WiFi panel
            $('.panelWiFi').on('click', function(event) {
                if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                    $('.panelWiFi').removeClass('is-visible');
                    event.preventDefault();
                }
            });

        });
    </script>

    <script>
        /** Document Ready Functions **/
        /********************************************************************/

        $(document).ready(function() {

            // Resive video
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        /** Reusable Functions **/
        /********************************************************************/

        function scaleVideoContainer() {

            var height = $(window).height();
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height', unitHeight);

        }

        function initBannerVideoSize(element) {

            $(element).each(function() {
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element) {

            var windowWidth = $(window).width(),
                windowHeight = $(window).height(),
                videoWidth,
                videoHeight;

            console.log(windowHeight);

            $(element).each(function() {
                var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                    windowAspectRatio = windowHeight / windowWidth;

                if (videoAspectRatio > windowAspectRatio) {
                    videoWidth = windowWidth;
                    videoHeight = videoWidth * videoAspectRatio;
                    $(this).css({
                        'top': -(videoHeight - windowHeight) / 2 + 'px',
                        'margin-left': 0
                    });
                } else {
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({
                        'margin-top': 0,
                        'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                    });
                }

                $(this).width(videoWidth).height(videoHeight);

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');


            });
        }
    </script>


    <!-- /container -->
