<section class="hidden-md hidden-lg hidden-xl snug" style="background-color: #D52027;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading white noMarginBottom">EXPLORE DoIT</h2>
        <p class="small white noMarginTop">Division of Information Technology</p>
      </div>
    </div>
  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section class="hidden-md hidden-lg" style="background-color: #000;">"
  <div class="container-fluid noPadding">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
    </div>
  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section class="callToActionCard hidden-md hidden-lg">
  <a class="scrollto specialAction" href="#explore">Explore Student Technology</a>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="videohero" class="" style="height: 778px; width: 1440px;">
  <!-- Logo -->
  <div class="logo">
    <a href="#explore" class="wow fadeInUp animated scrollto videoHero__button" alt="logo" data-wow-delay="0.2s">
					Explore Student Technology &raquo;
				</a>
  </div>
  <div class="">
    <div class="" style="opacity: 1; height: 810px; width: 1440px; left: 0px; top: -35px;">
      <video autoplay controls>
        <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.webm" type="video/webm">
        <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.mp4" type="video/mp4">
        <source src="http://mobile.cc.stonybrook.edu/sb/40underforty/video/sbu-40-under-40.ogv" type="video/ogg">
      </video>
    </div>
  </div>
</section>

<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#explore" class="fixedNavLink scrollto">Let's Begin</a></li>
        <li><a href="#gettingStarted" class="fixedNavLink scrollto">Getting Started</a></li>
        <li><a href="#aroundCampus" class="fixedNavLink scrollto">Around Campus</a></li>
        <li><a href="#learningTools" class="fixedNavLink scrollto">Learning Tools</a></li>
        <li><a href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
    <!-- ./navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section id="explore" class="fullHeightSection gradientOverlayTopRight" style="background-image: url('../../placeholders/images/Explore.jpg');">
  <div class="container">
      <div class="col-md-offset-6">
        <h2 class="heading white wow animated fadeInUp">Exploring Student Technology</h2>
        <h4 class="subheading white wow animated fadeInUp">This guide is meant for new students joining the Stony Brook University family. Included in this guide you will find vital information about services offered by the Division of Information Technology (DoIT).</h4>
        <a href="#gettingStarted" class="explore__button explore__button-red scrollto">Continue Exploring &raquo;</a>
      </div>
  </div>
</section>

<section class="redRaysBorder hidden-sm hiddem-xs" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- Carousel section -->
<section style="background-color: #f5f5f5">
  <div id="gettingStarted" class="fullHeightSection">
    <div class="container noPaddingmobile">
      <div class="col-md-4 col-sm-12 noPadding">
        <div class="callToActionCard" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
	  	background-size: cover;">
          <div class="text-left wow animated fadeInUp" style="padding: 10px 20px;">
            <h2 class="heading white">Getting Started</h2>
            <p class="wow animated fadeInUp white">These essential services will be your gateway to the all that DoIT has to offer.</p>
          </div>
        </div>
      </div>

      <p style="font-size: .875em;" class="muted text-center-mobile hidden-md hidden-lg hidden-xl noMarginTop noMarginBottom">Use the arrows to navigate</span>
      <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
        <div class="owl-carousel">
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">

              <div class="article__content">
                <h4 class="article__title">WolfieNet (WiFi)</h4>
                <h6 class="article__sbutitle">wifi.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">SOLAR</h4>
                <h6 class="article__sbutitle">solar.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">NetID</h4>
                <h6 class="article__sbutitle">netid.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-12 fluffy" style="text-align: center;">
          <a href="#aroundCampus" alt="Continue to Around Campus" class="scrollto continueArrow"><span class="sbuicon-arrow-down3"></span></a>
        </div>

    </div>
  </div>

  <div id="aroundCampus" class="fullHeightSection">
    <div class="container noPaddingmobile">
      <div class="col-md-4 col-sm-12 noPadding">
        <div class="callToActionCard" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
			background-size: cover; background-position: fixed;">
          <div class="text-left wow animated fadeInUp" style="padding: 30px;">
            <h2 class="heading white">Around Campus</h2>
            <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
        </div>
      </div>
      <p style="font-size: .875em;" class="muted text-center-mobile hidden-md hidden-lg hidden-xl noMarginTop noMarginBottom">Use the arrows to navigate</span>

      <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
        <div class="owl-carousel">
          <div class="item panelSOLAR-btn">
            <div class="article">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">

              <div class="article__content">
                <h4 class="article__title">Printing</h4>
                <h6 class="article__subtitle">printing.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">SINC Sites</h4>
                <h6 class="article__subtitle">sincsites.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article">
              <img src="../../placeholders/images/orientation/1.png" class="articler-pic" alt="">
              <div class="article__content">
                <h4 class="article__title">Mobile Charging Stations</h4>

                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 fluffy" style="text-align: center;">
        <a href="#learningTools" alt="Continue to Around Campus" class="scrollto continueArrow"><span class="sbuicon-arrow-down3"></span></a>
      </div>
    </div>
  </div>

  <div id="learningTools" class="fullHeightSection">
    <div class="container noPaddingmobile">
      <div class="col-md-4 col-sm-12 noPadding">

        <div class="callToActionCard" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
	  	background-size: cover;">
          <div class="text-left wow animated fadeInUp" style="padding: 30px;">
            <h2 class="heading white">Learning Tools</h2>
            <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
        </div>
      </div>
      <p style="font-size: .875em;" class="muted text-center-mobile hidden-md hidden-lg hidden-xl noMarginTop noMarginBottom">Use the arrows to navigate</span>

      <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
        <div class="owl-carousel">
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">

              <div class="article__content">
                <h4 class="article__title">Google Apps</h4>
                <h6 class="article__sbutitle">google.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">Blackboard</h4>
                <h6 class="article__sbutitle">blackboard.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">Lynda</h4>
                <h6 class="article__sbutitle">lynda.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
          <div class="item panelSOLAR-btn">
            <div class="article wow animated fadeInUp">
              <img src="../../placeholders/images/orientation/1.png" class="article__image" alt="">
              <div class="article__content">
                <h4 class="article__title">echo360</h4>
                <h6 class="article__sbutitle">lynda.stonybrook.edu</h6>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 fluffy" style="text-align: center;">
        <a href="#gettingHelp" alt="Continue to Around Campus" class="scrollto continueArrow"><span class="sbuicon-arrow-down3"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- end Carousel section -->

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="gettingHelp" class="callToActionCard">
  <div class="container">
    <div class="row fluffy">
      <div class="col-md-8 col-sm-12 wow animated fadeInUp">
        <h3 class="heading white">Where to Find Help</h3>
        <p class="subheading white">DoIT is committed to providing outstanding service to the Stony Brook University community. Submit a help ticket through our service management system.</p>
      </div>

      <div class="col-md-4 col-sm-12 wow animated fadeInUp">
        <a class="explore__button explore__button-white noMarginLeft" href="http://service.stonybrook.edu">Submit A Ticket</a>
        <h3 class="heading white">Find us on Social Media</h3>
          <div class="social noMarginLeft">
            <a href="#" class="facebook-circle white noPaddingLeft"><i class="sbuicon-facebook"></i></a>
            <a href="#" class="twitter-circle white"><i class="sbuicon-twitter"></i></a>
            <a href="#" class="youtube-circle white"><i class="sbuicon-youtube"></i></a>
            <a href="#" class="flickr-circle white"><i class="sbuicon-flickr"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="sample-form" class="fluffy">
  <div class="container">
    <form id="submit-frm" action="php/sampleMail.php" method="post" class="sample-form">
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control" name="firstname" placeholder="Name" data-validation="required">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="email" placeholder="Email" data-validation="email">
        </div>
        <div class="col-sm-2">
          <input type="submit" class="explore__button explore__button-red sign-up-button sample-button-done" value="Subscribe">
        </div>
      </div>
    </form>
  </div>
</section>

<section id="contact" class="fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left text-center-mobile wow animated fadeInUp">
        <h3 class="heading no-margin wow animated fadeInUp">We welcome<br>your feedback.</h3>

        <p class="wow animated fadeInUp no-margin">
          Use this form to send us your
          <br>suggestions. Or send us an email below.
        </p>

        <h4 class="subheading no-margin wow animated fadeInUp">
  				doitcomm@stonybrook.edu
        </h4>


        <div class="col-sm-12 text-center-mobile">
          <div class="social-links">
            <a href="#" class="facebook-circle"><i class="sbuicon-facebook"></i></a>
            <a href="#" class="twitter-circle"><i class="sbuicon-twitter"></i></a>
            <a href="#" class="youtube-circle"><i class="sbuicon-youtube"></i></a>
            <a href="#" class="flickr-circle"><i class="sbuicon-flickr"></i></a>
          </div>
        </div>
      </div>

      <form action="#" method="post" class="mail-form">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <input name="firstname" type="text" class="form-control" placeholder="Name" data-validation="required">
            </div>
            <div class="col-sm-6">
              <input name="email" type="text" class="form-control" placeholder="Email" data-validation="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input name="subject" type="text" class="form-control" placeholder="Subject" data-validation="required">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <textarea name="body" class="form-control" rows="10" placeholder="Message. . ." data-validation="required"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12.text-left">
              <input type="submit" class="explore__button explore__button-red contact-button" value="Send">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="notification-box"><span>Sending...</span></div>

<div class="mobile-nav">
  <ul class="menu">

  </ul>
</div>

<!-- Slideou Panel Content -->

<!-- SOLAR -->
<div class="panelSOLAR slideout-panel from-right">
    <header class="slideout-panel-header">
        <h3 class="slideout-panel-title white">&nbsp;SOLAR<span class="lighter">.STONYBROOK.EDU</h3>
        <a href="#0" class="slideout-panel-close">Close</a>
    </header>

    <div class="slideout-panel-container">
        <div class="slideout-panel-content">
            <h2 class="section-title">What is SOLAR?</h2>
        </div>
        <!-- slideout-panel-content -->
    </div>
    <!-- slideout-panel-container -->
</div>
<!-- slideout-panel -->

<!-- Slideout Panel Scripts -->
<script>
    jQuery(document).ready(function($) {
        //open SOLAR panel
        $('.panelSOLAR-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSOLAR').addClass('is-visible');
        });
        //close SOLAR panel
        $('.panelSOLAR').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSOLAR').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open NetID panel
        $('.panelNetID-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelNetID').addClass('is-visible');
        });
        //close NetID panel
        $('.panelNetID').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelNetID').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open WiFi panel
        $('.panelWiFi-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelWiFi').addClass('is-visible');
        });
        //close WiFi panel
        $('.panelWiFi').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelWiFi').removeClass('is-visible');
                event.preventDefault();
            }
        });

    });
</script>
<!-- end Slideout Panel Scripts -->
