<!-- ===========================================================================

** Title Section **

This section is only visible on mobile screens.


============================================================================ -->

<section class="hidden-md hidden-lg hidden-xl snug" style="background-color: #111;">
  <div class="container">

    <h2 class="heading white noMarginBottom">Explore IT For Students</h2>
    <p class="small white noMarginTop">Division of Information Technology</p>

  </div>
</section>

<section class="redRaysBorder hidden-md hidden-lg" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Header Video **

A teaser video will be loaded first in order to save on bandwidth for users
visiting the guide.

Users will select the "Watch the Welcome Video" button, which will load/autoplay the
orientation welcome video, which is hosted on YouTube.

In the event that JavaScript is disabled, the orientation-placeholder.jpg image
will be loaded instead. The button will still appear, and users will be directed
to the YouTube video.

============================================================================ -->

<div class="header-video">
    <img src="/placeholders/images/orientation/orientation-placeholder.jpg"
         class="header-video__media"
         data-video-URL="https://www.youtube.com/embed/ZtUV30kfa1U?rel=0&hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*"
         data-teaser="/placeholders/video/orientation-teaser-video"
         data-video-width="560"
         data-video-height="315">
    <a href="https://www.youtube.com/embed/ZtUV30kfa1U?rel=0&hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*"  target="_blank" class="default-button button-large header-video__play-trigger" id="header-video__play-trigger">Watch the Welcome Video &raquo;</a>
    <button type="button" class="default-button button-large header-video__close-trigger" id="header-video__close-trigger">Close video</button>
</div>


<!-- ===========================================================================

** Explore Button **

The explore button is only vissible on viewports width 768px +

============================================================================ -->

<div class="header-video__button hidden-sm hidden-xs hidden-md">
  <a href="#explore" class="wow fadeInUp animated scrollto header-video__button--link default-button button-large" alt="Continue Exploring Student Technology" data-wow-delay="0.2s">
				Explore IT for Students &raquo;
			</a>
</div>


<!-- ===========================================================================

** Navigation **

This navigation will fix to the top of the screen on scroll.
Fixed position will be removed when back to the top of the page.

============================================================================ -->


<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#explore" class="fixedNavLink scrollto">Let's Begin</a></li>
        <li><a href="#gettingStarted" class="fixedNavLink scrollto">Getting Started</a></li>
        <li><a href="#aroundCampus" class="fixedNavLink scrollto">Around Campus</a></li>
        <li><a href="#learningTools" class="fixedNavLink scrollto">Learning Tools</a></li>
        <li><a href="#gettingHelp" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- ===========================================================================

** Explore Introduction Section **

============================================================================ -->

<section id="explore" class="full-height-section display--flex gradient-overlay__TopRight" style="background-image: url('../../placeholders/images/Explore.jpg');">
  <div class="container">
      <div class="col-md-offset-6">
        <h2 class="heading white wow animated fadeInUp">Exploring Student Technology</h2>
        <h4 class="subheading white wow animated fadeInUp">This guide is meant for new students joining the Stony Brook University family. Included in this guide you will find vital information about services offered by the Division of Information Technology (DoIT).</h4>
        <a href="#gettingStarted" class="default-button button-large scrollto">Continue Exploring &raquo;</a>
      </div>
  </div>
</section>

<section class="redRaysBorder hidden-sm hidden-xs" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<!-- ===========================================================================

** Carousel Section **

Using the owl-carousel JavaScript library. The carousels themselves are made up
of individual cards called "article", which sit in a parent element called "articles".

The settings for the "sliding" actio are set in main.js

============================================================================ -->

<!-- This acts as a spacer on smaller screens -->
<section class="hidden-lg" style="padding: 15px;"></section>

<section class="bg-x-light-gray">

<!-- This acts as a spacer on larger screens -->
<section class="fluffy hidden-xs hidden-sm hidden-md"></section>

        <!-- ===================================================================
        ** Getting Started Carousels **
        ==================================================================== -->

        <div id="gettingStarted">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      	  	background-size: cover;" data-match-height="gettingStarted">
                <div class="text-left wow animated fadeInUp" style="padding: 10px 20px;">
                  <h2 class="heading white">Getting Started</h2>
                  <p class="wow animated fadeInUp white">These essential services will be your gateway to the all that DoIT has to offer.</p>
                </div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelWiFi-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/WiFi-final.jpg');"  data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">WolfieNet (WiFi)</h4>
                      <h6 class="article__sbutitle">wifi.stonybrook.edu</h6>
                      <p class="small">WolfieNet is Stony Brook University's wireless network on West Campus, Southampton, Manhattan, and parts of East Campus. It is available to all faculty, students, staff, and guests.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelSOLAR-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/SOLAR-final.jpg');" data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">SOLAR</h4>
                      <h6 class="article__sbutitle">solar.stonybrook.edu</h6>
                      <p class="small">SOLAR is Stony Brook University's enterprise-wide, self-service system which provides faculty, staff, and students with online access to manage personal information.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelNetID-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/NetID-final.jpg');" data-match-height="gettingStarted">
                    <div class="article__content fluffy">
                      <h4 class="article__title">NetID</h4>
                      <h6 class="article__sbutitle">netid.stonybrook.edu</h6>
                      <p class="small">Every active employee, student, and faculty member is assigned a NetID which is used to access various computing resources.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>

        <!-- Did you know section -->
        <section class="wow animated fadeInUp">
          <div class="container fluffy display--flex bg-asphalt">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <h2 class="heading white">Did you know DoIT provides mobile charging stations around campus?</h2>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 text-center text-left-mobile">
                <a class="default-button default-button__white scrollto" href="#aroundCampus">Find out more about services around campus &raquo;</a>
              </div>
            </div>
        </section>

        <!-- This acts as a spacer on smaller screens -->
        <section class="hidden-lg" style="padding: 15px;"></section>

        <!-- ===================================================================
        ** Around Campus Section **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>


        <div id="aroundCampus">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      			background-size: cover; background-position: fixed;" data-match-height="aroundCampus">
                <div class="text-left wow animated fadeInUp" style="padding: 30px;">
                  <h2 class="heading white">Around Campus</h2>
                  <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelPrinting-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/Printing-final.jpg');" data-match-height="aroundCampus">
                    <!-- <img src="../../placeholders/images/orientation/Printing-final.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Printing</h4>
                      <h6 class="article__subtitle">printing.stonybrook.edu</h6>
                      <p class="small">Students can print in SINC Sites and other computer labs on campus, or by using Stony Brook's Print From Anywhere service.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelSINC-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/sincsites-final.jpg');" data-match-height="aroundCampus">
                    <!-- <img src="../../placeholders/images/orientation/sincsites-final.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">SINC Sites</h4>
                      <h6 class="article__subtitle">sincsites.stonybrook.edu</h6>
                      <p class="small">SINC Sites are public computer labs that allow users to access both Windows & Mac computers. SINC Sites provide printing services and access to numerous academic software titles.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelMBC-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background-image: url('../../placeholders/images/orientation/MBC.jpg');" data-match-height="aroundCampus">
                    <!-- <img src="../../placeholders/images/orientation/MBC.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Mobile Charging Stations</h4>
                      <p class="small">There are six free-standing mobile charging stations in Frey Hall and Javits Lecture Center installed as part of the University's MOBILE/DIGITAL NOW initiative.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>


        <!-- Did you know section -->
        <section>
          <div class="container fluffy bg-asphalt gradient-overlay__TopRight display--flex">
              <div class="col-md-6 col-sm-12">
                <h2 class="heading white">Have you ever wanted to learn computer programming?</h2>
                <p class="subheading white">DoIT provides access to Lynda.com tutorials where you can learn new skills or brush up on some old skills at your own pace at a time and location that works best for you.</p>
              </div>
              <div class="col-md-6 col-sm-12 text-center text-left-mobile">
                <a class="default-button default-button__white scrollto" href="#learningTools">Discover More About Online Learning &raquo;</a>
              </div>
            </div>
        </section>

        <!-- This acts as a spacer on smaller screens -->
        <section class="hidden-lg" style="padding: 15px;"></section>

        <!-- ===================================================================
        ** Learning Tools Section **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="cozy hidden-xs hidden-sm hidden-md"></section>

        <div id="learningTools">
          <div class="container noPadding">
            <div class="col-md-4 col-sm-12 noPadding">
              <div class="fluffy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');
      	  	background-size: cover;" data-match-height="learningTools">
                <div class="text-left wow animated fadeInUp" style="padding: 30px;">
                  <h2 class="heading white">Learning Tools</h2>
                  <p class="wow animated fadeInUp white">DoIT provides tools to assist you in your academic endevours.</div>
              </div>
            </div>
            <div id="articles" class="articles col-md-8 col-sm-12 wow animated fadeInUp">
              <div class="owl-carousel">
                <div class="item panelGoogle-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/gapps.jpg');" data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/gapps.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Google Apps</h4>
                      <h6 class="article__subtitle">google.stonybrook.edu</h6>
                      <p class="small">tony Brook's Google Apps suite of products includes Mail, Calendar, Drive, Contacts, Sites, Groups, Hangouts and a host of other applications to enhance communication and real-time collaboration across campus.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelBlackboard-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/blackboard.jpg');"  data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/blackboard.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Blackboard</h4>
                      <h6 class="article__subtitle">blackboard.stonybrook.edu</h6>
                      <p class="small">Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes.</p>
                    </div>
                  </div>
                </div>
                <div class="item panelLynda-btn">
                  <div class="article overlay-gray wow animated fadeInUp" style="background: url('../../placeholders/images/orientation/lynda.jpg');" data-match-height="learningTools">
                    <!-- <img src="../../placeholders/images/orientation/lynda.jpg" class="article__image" alt=""> -->
                    <div class="article__content fluffy">
                      <h4 class="article__title">Lynda</h4>
                      <h6 class="article__subtitle">lynda.stonybrook.edu</h6>
                      <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id orci lectus. Etiam eleifend sed ligula vel sodales.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ===================================================================
        ** End of Carousels **
        ==================================================================== -->

        <!-- This acts as a spacer on larger screens -->
        <section class="fluffy hidden-xs hidden-sm hidden-md"></section>

</section>



<!-- ===================================================================

** Where to get help section **

==================================================================== -->

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="gettingHelp" class="fluffy bg-farbeyondred">
  <div class="container display--flex">
      <div class="col-md-12 wow animated fadeInUp">
        <h3 class="heading white">Where to Find Help</h3>
        <p class="subheading white">DoIT is committed to providing outstanding service to the Stony Brook University community.<br>Submit a help ticket through our service management system.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp">
        <a class="default-button default-button__white noMarginLeft" href="http://service.stonybrook.edu">Submit A Ticket</a>
      </div>
    </div>
  </div>
</section>

<section class="redRaysBorder" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');"></section>

<section id="sample-form" class="fluffy">
  <div class="container">
    <form id="submit-frm" action="php/sampleMail.php" method="post" class="sample-form">
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control" name="firstname" placeholder="Name" data-validation="required">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="email" placeholder="Email" data-validation="email">
        </div>
        <div class="col-sm-2">
          <input type="submit" class="explore__button explore__button-red sign-up-button sample-button-done" value="Subscribe">
        </div>
      </div>
    </form>
  </div>
</section>

<section id="contact" class="fluffy">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left text-center-mobile wow animated fadeInUp">
        <h3 class="heading no-margin wow animated fadeInUp">We welcome<br>your feedback.</h3>

        <p class="wow animated fadeInUp no-margin">
          Use this form to send us your
          <br>suggestions. Or send us an email below.
        </p>

        <h4 class="subheading no-margin wow animated fadeInUp">
  				doitcomm@stonybrook.edu
        </h4>


        <div class="col-sm-12 text-center-mobile">
          <div class="social-links">
            <a href="#" class="facebook-circle"><i class="sbuicon-facebook"></i></a>
            <a href="#" class="twitter-circle"><i class="sbuicon-twitter"></i></a>
            <a href="#" class="youtube-circle"><i class="sbuicon-youtube"></i></a>
            <a href="#" class="flickr-circle"><i class="sbuicon-flickr"></i></a>
          </div>
        </div>
      </div>

      <form action="#" method="post" class="mail-form">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <input name="firstname" type="text" class="form-control" placeholder="Name" data-validation="required">
            </div>
            <div class="col-sm-6">
              <input name="email" type="text" class="form-control" placeholder="Email" data-validation="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input name="subject" type="text" class="form-control" placeholder="Subject" data-validation="required">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <textarea name="body" class="form-control" rows="10" placeholder="Message. . ." data-validation="required"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12.text-left">
              <input type="submit" class="explore__button explore__button-red contact-button" value="Send">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="notification-box"><span>Sending...</span></div>




<!-- ===========================================================================

** Slideout Panels Content **

These slideout panels are translated onto the screen when the appropriate article
card is selected.

============================================================================ -->


  <!-- =========================================================================
  SOLAR Slideout Panel
  ===========================================================================-->

  <div class="panelSOLAR slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- SOLAR Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">What can SOLAR do for me?</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of SOLAR Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  WiFi Slideout Panel
  ===========================================================================-->

  <div class="panelWiFi slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

        <!-- WiFi Conent ================================================ -->
        <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
          <div class="slideout-panel-content">
            <h3 class="heading heading-medium white text-center-mobile">What is WolfieNet?</h2>
          </div>
        </div>

        <section class="airy">
          <div class="col-md-3 col-sm-6 wow animated fadeInUp">
            <div class="text-blurb" data-match-height="whatIsSolar">
              <h4 class="heading heading-small uppercase red">Registration</h4>
              <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow animated fadeInUp">
            <div class="text-blurb" data-match-height="whatIsSolar">
              <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
              <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow animated fadeInUp">
            <div class="text-blurb" data-match-height="whatIsSolar">
              <h4 class="heading heading-small uppercase red">Manage NetID</h4>
              <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow animated fadeInUp">
            <div class="text-blurb" data-match-height="whatIsSolar">
              <h4 class="heading heading-small uppercase red">SB Alert</h4>
              <p class="normal-text">Set your SB Alert information in SOLAR.</p>
            </div>
          </div>
        </section>

        <section class="airy">
          <div class="col-md-12 col-sm-6 wow animated fadeInUp">
            <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
            </div>
          </div>
        </section>
      </div>
    </div>

  <!-- =========================================================================
  End of WiFi Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  NetID Slideout Panel
  ===========================================================================-->

  <div class="panelNetID slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- NetID Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">What is NetID?</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of NetID Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Printing Slideout Panel
  ===========================================================================-->

  <div class="panelPrinting slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- Printing Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">How do I print on campus?</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of Printing Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  SINC Sites Slideout Panel
  ===========================================================================-->

  <div class="panelSINC slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- SINC Sites Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">What can SOLAR do for me?</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of SINC Sites Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Mobile Charging Stations Slideout Panel
  ===========================================================================-->

  <div class="panelMBC slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- MCS Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">Charge Your Devices Around Campus</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of Mobile Charging Stations Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Google Apps Slideout Panel
  ===========================================================================-->

  <div class="panelGoogle slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- Google Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">Google Apps</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of Google Apps Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  Blackboard Slideout Panel
  ===========================================================================-->

  <div class="panelBlackboard slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

            <!-- SOLAR Conent ================================================ -->
            <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
              <div class="slideout-panel-content">
                <h3 class="heading heading-medium white text-center-mobile">Course Management with Blackboard</h2>
              </div>
            </div>

            <section class="airy">
              <div class="col-md-3 col-sm-6 wow animated fadeInUp">
                <div class="text-blurb" data-match-height="whatIsSolar">
                  <h4 class="heading heading-small uppercase red">Registration</h4>
                  <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 wow animated fadeInUp">
                <div class="text-blurb" data-match-height="whatIsSolar">
                  <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
                  <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 wow animated fadeInUp">
                <div class="text-blurb" data-match-height="whatIsSolar">
                  <h4 class="heading heading-small uppercase red">Manage NetID</h4>
                  <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 wow animated fadeInUp">
                <div class="text-blurb" data-match-height="whatIsSolar">
                  <h4 class="heading heading-small uppercase red">SB Alert</h4>
                  <p class="normal-text">Set your SB Alert information in SOLAR.</p>
                </div>
              </div>
            </section>

            <section class="airy">
              <div class="col-md-12 col-sm-6 wow animated fadeInUp">
                <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
                </div>
              </div>
            </section>
          </div>
        </div>

  <!-- =========================================================================
  End of Blackboard Slideout Panel
  ===========================================================================-->



  <!-- =========================================================================
  LYNDA.COM Slideout Panel
  ===========================================================================-->

  <div class="panelLynda slideout-panel from-right">
    <div class="slideout-panel-container">
      <a href="#0" class="slideout-panel-close">Close</a>

      <!-- Lynda.com Conent ================================================ -->
      <div class="cozy" style="background-image: url('http://www.stonybrook.edu/sb/far-beyond/img/home-apr15/redSwooshes.jpg');">
        <div class="slideout-panel-content">
          <h3 class="heading heading-medium white text-center-mobile">Lessons On-Demand</h2>
        </div>
      </div>

      <section class="airy">
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Registration</h4>
            <p class="normal-text">Register for classes in SOLAR. Use our new <a href="#">schedule builder</a> tool to plan out your schedules.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Pay Your Bills</h4>
            <p class="normal-text">You can pay room deposits, tuition fees and other bills via SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">Manage NetID</h4>
            <p class="normal-text">You can view your NetID and set your NetID password inside SOLAR.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow animated fadeInUp">
          <div class="text-blurb" data-match-height="whatIsSolar">
            <h4 class="heading heading-small uppercase red">SB Alert</h4>
            <p class="normal-text">Set your SB Alert information in SOLAR.</p>
          </div>
        </div>
      </section>

      <section class="airy">
        <div class="col-md-12 col-sm-6 wow animated fadeInUp">
          <h4 class="heading heading-small uppercase red">SOLAR How-to Videos</h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EUyujom0UaU"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZxBivt_vAAE"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WjR8zig6WAY"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sk8JFfw5F0o"></iframe>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- =========================================================================
  End of LYNDA.COM Slideout Panel
  ========================================================================== -->



<!-- ===========================================================================

  ** END of Slideout Panels Content **

============================================================================ -->



<!-- ===========================================================================

Slideout Panel Scripts

============================================================================ -->

<script>
    jQuery(document).ready(function($) {
        //open SOLAR panel
        $('.panelSOLAR-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSOLAR').addClass('is-visible');
        });
        //close SOLAR panel
        $('.panelSOLAR').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSOLAR').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open NetID panel
        $('.panelNetID-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelNetID').addClass('is-visible');
        });
        //close NetID panel
        $('.panelNetID').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelNetID').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open WiFi panel
        $('.panelWiFi-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelWiFi').addClass('is-visible');
        });
        //close WiFi panel
        $('.panelWiFi').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelWiFi').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Printing panel
        $('.panelPrinting-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelPrinting').addClass('is-visible');
        });
        //close Printing panel
        $('.panelPrinting').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelPrinting').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open SINC Sites panel
        $('.panelSINC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelSINC').addClass('is-visible');
        });
        //close SINC panel
        $('.panelSINC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelSINC').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Mobile Charging Stations panel
        $('.panelMBC-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelMBC').addClass('is-visible');
        });
        //close Mobile Charging Stations panel
        $('.panelMBC').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelMBC').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Google Apps panel
        $('.panelGoogle-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelGoogle').addClass('is-visible');
        });
        //close Google Apps panel
        $('.panelGoogle').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelGoogle').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Blackboard panel
        $('.panelBlackboard-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelBlackboard').addClass('is-visible');
        });
        //close Google Apps panel
        $('.panelBlackboard').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelBlackboard').removeClass('is-visible');
                event.preventDefault();
            }
        });

        //open Lynda panel
        $('.panelLynda-btn').on('click', function(event) {
            event.preventDefault();
            $('.panelLynda').addClass('is-visible');
        });
        //close Lynda panel
        $('.panelLynda').on('click', function(event) {
            if ($(event.target).is('.slideout-panel') || $(event.target).is('.slideout-panel-close')) {
                $('.panelLynda').removeClass('is-visible');
                event.preventDefault();
            }
        });

    });
</script>

<!-- ===========================================================================

Video header script

============================================================================ -->

<script>
  $(document).ready(function() {
    $('.header-video').each(function(i, elem) {
        headerVideo = new HeaderVideo({
          element: elem,
          media: '.header-video__media',
          playTrigger: '.header-video__play-trigger',
          closeTrigger: '.header-video__close-trigger'
        });
    });
  });
</script>
