<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{# emergency }}
			{{> organisms-alert:emergency }}
		{{/ emergency }}
		{{# hero }}
			{{> organisms-hero-modern }}
		{{/ hero}}

		{{# notification }}
			{{> organisms-alert:notification }}
		{{/ notification }}
		
		
		<div class="row fluffy">

		<div class="container">
		<div class="col-sm-12">
		<h2 class="text-center">Accordions!</h2>
		{{> organisms-accordion}}
	</div>
	</div>
	</div>


<div class="row fluffy bg-light-gray">

		<div class="container">
		<div class="col-sm-12">
		<h2 class="text-center">Tab!</h2>
		{{> organisms-tab}}
	</div>
	</div>
	</div>



	<!--End role=main-->
	{{> organisms-footer }}
</div>