<section id="top" class="fluffy hero-beyond display--flex gradient-overlay__TopRight">
  <div class="container">
    <div class="hero-beyond--headings">
      <h2 class="heading white">Blackboard</h2>
      <p class="introduction white">Blackboard is Stony Brook University's learning management system (LMS), which allows instructors to supplement face-to-face classes, or launch online classes. Blackboard includes a variety of features that allow instructors to do anything from uploading course documents, to posting an announcement, to collecting and grading assignments. For students, Blackboard offers an easy way to contact instructors, download and access course documents, and check grades.</p>
    </div>
    <a class="default-button button-large bg-black" href="#">Launch Blackboard</a>
  </div>
</section>

<nav class="fixedNav navbar--fixed navbar--fixed__default noPadding noMarginBottom noBorder">

  <div class="container">
    <div class="navbar--fixed__header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixedNavCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-nav-fixedbar"></span>
      </button>
    </div>

    <div class="collapse navbar--fixed__collapse" id="fixedNavCollapse">

      <ul class="nav navbar--fixed__links main-nav">
        <li><a href="#blackboardBasics" class="fixedNavLink scrollto">Blackboard Basics</a></li>
        <li><a href="#gettingStarted" class="fixedNavLink scrollto">For Students</a></li>
        <li><a href="#studentServices" class="fixedNavLink scrollto">For Instructors</a></li>
        <li><a href="#learningTools" class="fixedNavLink scrollto">Getting Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="blackboardBasics" class="cozy bg-x-light-gray">
  <div class="container cozy">
    <div class="col-md-12">
      <h2 class="section-heading"><strong>Blackboard Basics</strong></h2>
      <p class="introduction">All courses are put into Blackboard, but instructors need to activate the course before students will be able to access it. All registered students (undergraduate and graduate) receive a Blackboard account at the beginning of their first semester at Stony Brook University.</p>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="box-card no-border bg-white" data-match-height="blackboardBasics">
        <div data-match-height="box-card--headings">
            <h3 class="box-card--heading red">Logging In</h3>
        </div>
        <div class="box-card--content" data-match-height="box-card--content">
          <p>To log into Blackboard, go to blackboard.stonybrook.edu in your web browser. (NOTE: no “www” in this address.)</p>
          <p>In the Have an account? box, enter your NetID and NetID password in the respective fields.</p>
          <p>Once you have entered your credentials, click Login.</p>
        </div>
        <div class="box-card--cta">
          <a href="#" class="default-button button-large button-block scrollto">Launch Blackboard &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="box-card no-border bg-white" data-match-height="blackboardBasics">
        <div data-match-height="box-card--headings">
            <h3 class="box-card--heading red">Blackboard Mobile</h3>
        </div>
        <div class="box-card--content" data-match-height="box-card--content">
          <p>Instructions for Setting Up the Blackboard Learn App on your SmartPhone:</p>
          <p><a href="#">iPhone & iPod Touch &raquo;</a></p>
          <p><a href="#">iPad &raquo;</a></p>
          <p><a href="#">Android Devices &raquo;</a></p>
          <p><a href="#">Blackberry Devices &raquo;</a></p>
          <p><a href="#">Palm Devices &raquo;</a></p>

        </div>
        <div class="box-card--cta">
          <a href="#" class="default-button button-large button-block scrollto">Need Assistance? &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blackboardBasics" class="cozy bg-x-light-gray">
  <div class="container cozy">
    <div class="col-md-12">
      <h2 class="section-heading"><strong>For Students</strong></h2>
      <p class="introduction">Blackboard is a web-based course management system that is used as a tool to deliver a course completely online and/or to supplement face-to-face classes.  Blackboard is available to all Stony Brook University students 24/7, from any computer with Internet access.</p>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="box-card no-border bg-white" data-match-height="blackboardBasics">
        <div data-match-height="box-card--headings">
            <h3 class="box-card--heading red">Logging In</h3>
        </div>
        <div class="box-card--content" data-match-height="box-card--content">
          <p>To log into Blackboard, go to blackboard.stonybrook.edu in your web browser. (NOTE: no “www” in this address.)</p>
          <p>In the Have an account? box, enter your NetID and NetID password in the respective fields.</p>
          <p>Once you have entered your credentials, click Login.</p>
        </div>
        <div class="box-card--cta">
          <a href="#" class="default-button button-large button-block scrollto">Launch Blackboard &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="box-card no-border bg-white" data-match-height="blackboardBasics">
        <div data-match-height="box-card--headings">
            <h3 class="box-card--heading red">Blackboard Mobile</h3>
        </div>
        <div class="box-card--content" data-match-height="box-card--content">
          <p>Instructions for Setting Up the Blackboard Learn App on your SmartPhone:</p>
          <p><a href="#">iPhone & iPod Touch &raquo;</a></p>
          <p><a href="#">iPad &raquo;</a></p>
          <p><a href="#">Android Devices &raquo;</a></p>
          <p><a href="#">Blackberry Devices &raquo;</a></p>
          <p><a href="#">Palm Devices &raquo;</a></p>

        </div>
        <div class="box-card--cta">
          <a href="#" class="default-button button-large button-block scrollto">Need Assistance? &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>
