<section class="campaign-banner campaign-banner--on-black fixed-background clearfix">
    <div class="campaign-banner__wrapper border-box clearfix">
        <span class="campaign-banner__logo-text hide-accessible">The Campaign for Stony Brook</span>
        <img class="campaign-banner__logo-image campaign-banner__logo-image--desktop" src="http://stonybrook.edu/sb/far-beyond/img/branding/logo/the-campaign-for-stony-brook--on-black--landscape.png" alt="The Campaign for Stony Brook logo">
        <img class="campaign-banner__logo-image campaign-banner__logo-image--mobile" src="http://stonybrook.edu/sb/far-beyond/img/branding/logo/the-campaign-for-stony-brook--on-black--portrait.png" alt="The Campaign for Stony Brook logo">
        <span class="campaign-banner__tagline">Together we go far beyond.</span>
        <a class="campaign__button campaign-banner__button white" href="http://stonybrook.edu/campaign/" target="_blank">Join Us</a>
    </div>
</section>
