<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-inline">
        {{# listItems.four }}
        <li>{{{excerpt.x-small}}}</li>
        {{/ listItems.four }}
			</ul>
		</div>
	</div>
</div>
