<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<ul class="tabs">
				<li class="tabs--tab tabs--tab__active">{{{excerpt.x-small}}}</li>
				{{# listItems.four }}
        	<li class="tabs--tab">{{{excerpt.x-small}}}</li>
				{{/ listItems.four }}
			</ul>

			<ul class="tabs">
				<li><a href="{{url}}" class="tabs--tab tabs--tab__active">{{{excerpt.x-small}}}</a></li>
				{{# listItems.four }}
        	<li><a href="{{url}}" class="tabs--tab">{{{excerpt.x-small}}}</a></li>
				{{/ listItems.four }}
			</ul>
		</div>
	</div>
</div>
