	&lt;a class=&quot;rounded-outline-button&quot;&gt;Round Outline Button&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button&quot;&gt;Round Outline Button&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button&quot;&gt;Round Outline Button&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button&quot;&gt;Round Outline Button&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button block&quot;&gt;Round Outline Button Block&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button block&quot;&gt;Round Outline Button Block&lt;/a&gt;

	&lt;a class=&quot;rounded-outline-button block&quot;&gt;Round Outline Button Block&lt;/a&gt;
	
	&lt;a class=&quot;rounded-outline-button block&quot;&gt;Round Outline Button Block&lt;/a&gt;