{{# alert.class}}
<div class="alert__{{alert.class}}">
{{/ alert.class}}
{{^ alert.class}}
<div class="alert__notification">
{{/ alert.class}}
	<h2 class="alert--heading"><span class="sbuicon-info2"></span>{{headline.medium}}</h2>
	<div class="alert--summary">
	       {{excerpt.short}}
	</div>

	 {{# cta }}
        <div class="alert--cta">
            <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
        </div>
    {{/ cta }}
</div>
