<div class="alert__notification">
	<h2 class="alert--heading"><span class="sbuicon-info2"></span>This is a notification</h2>
	<div class="alert--summary">
	{{{paragraphs.double}}}
	</div>
	</div>

	<div class="alert__emergency">
	<h2 class="alert--heading"><span class="sbuicon-warning"></span>This is an emergency</h2>
	<div class="alert--summary">
	{{{paragraphs.double}}}
	</div>
	</div>