<a class="promo-box-button" href="{{url}}" style="background-image: url('../../releases/latest/images/sample/students-walking.jpg')">
	<span class="promo-box-button--label">{{headline.short}}</span>
</a>
