<a class="rounded-image-button">
    <div class="round-image-label">
        <img class="rounded-image-button--image" src="../../styleguide/images/sports.jpg" alt="football">
        <p>Rounded Image Buttons</p>
    </div>
</a>
