&lt;img class=&quot;circle-image&quot; src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.square.alt }} circle image&quot; /&gt;

&lt;img class=&quot;circle-image-med&quot; src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.square.alt }} circle image medium&quot; /&gt;

&lt;img class=&quot;circle-image-large&quot; src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.square.alt }} circle image large&quot; /&gt;


&lt;img class=&quot;flat-circle-image&quot; src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.square.alt }} circle image large&quot; /&gt;