<div class="tabs">
	<ul class="tabs--list">
		<li class="tabs--tab"><a href="{{ url }}" class="tabs--tab-link tabs--tab-link__active">Tab 1</a></li>
		<li class="tabs--tab"><a href="{{ url }}" class="tabs--tab-link">Longer Tab Name 2</a></li>
		<li class="tabs--tab"><a href="{{ url }}" class="tabs--tab-link">Tab 3</a></li>
	</ul>
</div>


