<div class="social-links">
    <h3 class="white">Connect with @SBUDoIT</h3>
    
	<ul class="social-link--list">
        <li class="social-link--facebook">
        <a href="#">
        	<span class="sr-only">Facebook</span>
        </a>
        </li>
     </ul>
        
        <a href="#" class="social-link social-link--twitter">
        	<div class="social-link--icon"></div>
         	<span class="sr-only">Twitter</span>
        </a>

        <a href="#" class="social-link social-link--youtube">
         	<span class="sbuicon-youtube"><span class="sr-only">YouTube</span></span>
        </a>

        <a href="#" class="social-link social-link--flickr">
         	<span class="sbuicon-flickr"><span class="sr-only">Flickr</span></span>
        </a>

        <a href="#" class="social-link social-link--instagram">
        	<span class="sbuicon-instagram"><span class="sr-only">Instagram</span></span>
        </a>

        <a href="#" class="social-link social-link--yammer">
        	<span class="sbuicon-yammer"><span class="sr-only">Yammer</span></span>
        </a>
    </p>
</div>
