&lt;!-- Begin Footer --&gt;

&lt;footer class=&quot;site-footer clearfix&quot;&gt;
            &lt;div class=&quot;container top-footer centered&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;nav class=&quot;wrapper&quot;&gt;
                        &lt;div class=&quot;col col-md-4 footer-links&quot; data-match-height=&quot;items-footer&quot;&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col col-md-4 text-center&quot; data-match-height=&quot;items-footer&quot;&gt;
                            {{&gt; molecules-social-links }}     
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/nav&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/footer&gt;
        &lt;!-- jQuery --&gt;
       

&lt;!-- End Footer --&gt;