	&lt;ul class=&quot;todo alert-warning&quot;&gt;
		&lt;li&gt;Why are the different list styles differently indented?&lt;/li&gt;
		&lt;li&gt;Can we get rid of default bullets or rename&lt;/li&gt;
		&lt;li&gt;Should there be more padding/margin between icon bullets?&lt;/li&gt;
	&lt;/ul&gt;

	&lt;h3 class=&quot;content-header&quot;&gt;Standard Bullets&lt;/h3&gt;

	&lt;ul&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;

	&lt;h3 class=&quot;content-header&quot;&gt;No Bullets&lt;/h3&gt;

	&lt;ul class=&quot;no-bullets&quot;&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;

		&lt;h3 class=&quot;content-header&quot;&gt;Star Bullets&lt;/h3&gt;

	&lt;ul class=&quot;star-bullets&quot;&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;

		&lt;h3 class=&quot;content-header&quot;&gt;Default Bullets&lt;/h3&gt;

	&lt;ul class=&quot;default-bullets&quot;&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;



		&lt;h3 class=&quot;content-header&quot;&gt;Arrow Bullets&lt;/h3&gt;

	&lt;ul class=&quot;arrow-bullets&quot;&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;

	&lt;h3 class=&quot;content-header&quot;&gt;Check Bullets&lt;/h3&gt;

	&lt;ul class=&quot;check-bullets&quot;&gt;
		&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;
		&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;
		&lt;li&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;This is a nested list item&lt;/li&gt;
				&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;This is the last list item&lt;/li&gt;
	&lt;/ul&gt;




