.footer-nav
{

ul, ul li
{
	margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

ul ul
{
	margin-left: 1em;
}

a
{
	color: #eee;
}

a:hover, a:focus
{
	color: #cccccc;
    border-bottom: 0.1em dashed #ccc;
}

.footer-nav--heading
{
	color: #eee;
}
}