.nav-footer--list, .nav-footer--item
{
	margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.nav-footer--list .nav-footer--list
{
	margin-left: 1em;
}

.nav-footer--link
{
	color: #eee;
}

.nav-footer--link:hover, .nav-footer--link:focus
{
	color: #cccccc;
    border-bottom: 0.1em dashed #ccc;
}

.nav-footer--heading
{
	color: #eee;
}