.tabs--list {
    height: auto;
    line-height: normal;
        list-style: none;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

 .tabs--tab {
    display: inline-block;
  
  color: #fff;
  
      list-style: none;
    list-style-type: none;
  

}

.tabs--tab.first, .tabs--tab:first-child
{
  margin-left: 0;
}

.tabs--tab:before
{
  display: none;
  content: '';
  
}



.tabs--tab-link {
    display: block;
    color: #fff;
  background-color: #666;
     padding: 0.8em 1.2em 0.8em;
    
    line-height: 1;

    border-radius: .25em;
}

.tabs--tab-link__active {
    background-color: #999;
}

.tabs--tab-link:hover
{
  color: #fff;
  background-color: #333;
  border-radius: .25em;
}