	<p><strong>Normal Paragraphs: </strong> {{excerpt.medium}}</p>

	
<p class="introduction"><strong>Introduction Text</strong>: {{ excerpt.medium }}</p>

<p class="caps"><strong>Caps Text</strong>: {{ excerpt.medium }}</p>

<p class="proper-case"><strong>Proper Case</strong>: {{ excerpt.medium }}</p>

<p class="serif"><strong>Serif</strong>: {{ excerpt.medium }}</p>

<p class="serif-italic"><strong>Serif Italic</strong>: {{ excerpt.medium }}</p>

<p class="nowrap"><strong>No Wrap</strong>: {{ excerpt.medium }}</p>

<p class="wrap"><strong>Wrap</strong>: {{ excerpt.medium }}</p>

<p class="less-spacing"><strong>Less Spacing</strong>: {{ excerpt.medium }}</p>

<p class="sub-text"><strong>Sub Text</strong>: {{ excerpt.medium }}</p>

<p class="sbu-3d-shadow"><strong>SBU 3d Shadow</strong>: {{ excerpt.medium }}</p>

<p class="sbu-text-shadow"><strong>sbu-text-shadow</strong>: {{ excerpt.medium }}</p>
	
<p class="centered"><strong>Centered</strong>: {{ excerpt.medium }}</p>

<p class="left-aligned-text"><strong>Left Aligned Text</strong>: {{ excerpt.medium }}</p>

<p class="right-aligned-text"><strong>Right Aligned Text</strong>: {{ excerpt.medium }}</p>

