<p>
<a href="{{url}}">Link Text</a>
</p>

<p>
<a class="arrow-link" href="{{url}}">Arrow Link</a>
</p>

<p>
<a class="dashed-link" href="{{url}}">Dashed Link</a>
</p>

<p>
<a class="read-more-link" href="{{url}}">Read More Link</a>
</p>

<p>
<a class="view-all-link" href="{{url}}">View All Link</a>
</p>

<p>
<a class="file-link" href="{{url}}.pdf">File Link to PDF</a>
</p>

<p>
<a class="file-link" href="{{url}}.xls">File Link to XLS/XLSX</a>
</p>

<p>
<a class="file-link" href="{{url}}.doc">File Link to DOC/DOCX</a>
</p>

<p>
<a class="file-link" href="{{url}}.xls">File Link to PPT/PPTX</a>
</p>

<p>
<a class="btn" href="{{url}}">BTN</a>
</p>