.hero-button {
    display: inline-block;
    background: rgba(51, 51, 51, 0.8);
    padding: 1em;
    text-transform: uppercase;
    border-bottom: rgba(255, 255, 255, 0.5);
    box-sizing: inherit;
    cursor: pointer;
    font-family: $font;
    margin: 0.5em;
    @extend .border-trans;
}