.service-btn, .btn-service {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}