          
               &lt;h3 class=&quot;content-header heading-annotation&quot;&gt;Standard Headings:&lt;/h3&gt;
                    &lt;h1&gt;This is an h1 &lt;small&gt;Small text in h1&lt;/small&gt;&lt;/h1&gt;
                    &lt;h2&gt;This is an h2 &lt;small&gt;Small text in h2&lt;/small&gt;&lt;/h2&gt;
                    &lt;h3&gt;This is an h3 &lt;small&gt;Small text in h3&lt;/small&gt;&lt;/h3&gt;
                    &lt;h4&gt;This is an h4 &lt;small&gt;Small text in h4&lt;/small&gt;&lt;/h4&gt;
                    &lt;h5&gt;This is an h5 &lt;small&gt;Small text in h5&lt;/small&gt;&lt;/h5&gt;
                &lt;h3 class=&quot;content-header&quot;&gt;Size Modifiers&lt;/h3&gt;
                    &lt;p&gt;Occasionally you may want a heading tag to be sized differently, we provide the following heading modifier classes&lt;/p&gt;
                &lt;h1 class=&quot;heading2&quot;&gt;H1 with heading2&lt;/h1&gt;
                &lt;h2 class=&quot;heading1&quot;&gt;H2 with heading1&lt;/h2&gt;
                &lt;h3 class=&quot;heading5&quot;&gt;H3 with heading5&lt;/h3&gt; 


                &lt;h3 class=&quot;content-header&quot;&gt;Serif Headings:&lt;/h3&gt;
                    &lt;h1 class=&quot;serif&quot;&gt;This is an h1.serif &lt;small&gt;Small text in h1&lt;/small&gt;&lt;/h1&gt;
                    &lt;h2 class=&quot;serif&quot;&gt;This is an h2.serif &lt;small&gt;Small text in h2&lt;/small&gt;&lt;/h2&gt;
                    &lt;h3 class=&quot;serif&quot;&gt;This is an h3.serif &lt;small&gt;Small text in h3&lt;/small&gt;&lt;/h3&gt;
                    &lt;h4 class=&quot;serif&quot;&gt;This is an h4.serif &lt;small&gt;Small text in h4&lt;/small&gt;&lt;/h4&gt;
                    &lt;h5 class=&quot;serif&quot;&gt;This is an h5.serif &lt;small&gt;Small text in h5&lt;/small&gt;&lt;/h5&gt;
                    &lt;br /&gt;
                    &lt;br /&gt;
                &lt;h3 class=&quot;content-header&quot;&gt;Content Headers&lt;/h3&gt;
                    &lt;h1 class=&quot;content-header&quot;&gt;This is an h1.content-header &lt;small&gt;Small text in h1&lt;/small&gt;&lt;/h1&gt;
                    &lt;h2 class=&quot;content-header&quot;&gt;This is an h2.content-header &lt;small&gt;Small text in h2&lt;/small&gt;&lt;/h2&gt;
                    &lt;h3 class=&quot;content-header&quot;&gt;This is an h3.content-header &lt;small&gt;Small text in h3&lt;/small&gt;&lt;/h3&gt;
                    &lt;h4 class=&quot;content-header&quot;&gt;This is an h4.content-header &lt;small&gt;Small text in h4&lt;/small&gt;&lt;/h4&gt;
                    &lt;h5 class=&quot;content-header&quot;&gt;This is an h5.content-header &lt;small&gt;Small text in h5&lt;/small&gt;&lt;/h5&gt;
                    &lt;br&gt;
                    &lt;br&gt;
                &lt;h3 class=&quot;content-header&quot;&gt;Special Cases:&lt;/h3&gt;
                    &lt;h1 class=&quot;mega sbu-3d-shadow&quot;&gt;h1.mega.sbu-3d-shadow&lt;/h1&gt;
                    &lt;h1 class=&quot;mega&quot;&gt;This is an h1.mega&lt;/h1&gt;
                    &lt;h1 class=&quot;site-name&quot;&gt;This is an h1.site-name&lt;/h1&gt;
                    &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;