<figure class="screenshot">
    <img class="screenshot--image" src="{{ img.square.src }}" alt="{{ img.square.alt }}" />
    <figcaption class="screenshot--caption asphalt">
        <div class="screenshot--caption-content">
            <a href="#" class="screenshot--caption--link single_image">
                <p><i class="screenshot--icon sbuicon-flask"></i></p>
                <br>
                <p>Qualtrics</p>
            </a>
        </div>
    </figcaption>
</figure>
