&lt;div class=&quot;tabs&quot;&gt;
	&lt;ul class=&quot;tabs--list&quot;&gt;
		&lt;li class=&quot;tabs--tab&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;tabs--tab-link tabs--tab-link__active&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;tabs--tab&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;tabs--tab-link&quot;&gt;Longer Tab Name 2&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;tabs--tab&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;tabs--tab-link&quot;&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;


