	&lt;figure class=&quot;screenshot&quot;&gt;
								&lt;img src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.square.alt }}&quot; /&gt;
								&lt;figcaption class=&quot;asphalt&quot;&gt;
								&lt;div class=&quot;caption-content&quot;&gt;
									&lt;a href=&quot;#&quot; class=&quot;single_image&quot;&gt;
										&lt;p&gt;&lt;i class=&quot;fa fa-flask&quot;&gt;&lt;/i&gt;&lt;/p&gt;&lt;br&gt;
										&lt;p&gt;Qualtrics&lt;/p&gt;
									&lt;/a&gt;
								&lt;/div&gt;
								&lt;/figcaption&gt;
							&lt;/figure&gt;