<section class="hero-fiddy cozy overlay-black bg-pattern-pentagon">
  {{# shownav }}
    <div class="hero-fiddy--navigation">
          <div class="container">
              <div class="row">

                {{# listItems.six }}
                  <div class="col-sm-6 col-md-4 col-lg-4">
                      <a class="secondary-button button-block" data-match-height="hero-button" href="{{url}}">{{headline.x-small}}</a>
                  </div>
                {{/ listItems.six }}



              </div>
          </div>
      </div>
  {{/ shownav }}


  <div class="hero-fiddy--content">
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-6">
      <h1>{{headline.short}}</h1>

      <div class="hero-fiddy--text">{{{paragraph.double}}}</div>

      <div class="row">
        {{# listItems.two }}
          <div class="col-xs-12 col-md-12">
              <a data-match-height="hero-buttons" class="hero-button button-block" href="{{url}}">{{headline.x-small}}</a>
            </div>
      {{/ listItems.two}}

    </div>


  </div>
  <div class="col-md-6">
    {{#showvideo}}
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/DpWDOXN5DWU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    {{/showvideo}}
    {{^ showvideo }}
    <div class="hero-fiddy--image">
      <img class="img-responsive fadeIn" src="{{img.square.src}}" alt="tech 2">
    </div>
    {{/ showvideo}}
  </div>

  </div>
  </div>
</div>
</section>
