<section class="hero-classic overlay-river bg-pattern-pentagon">
  <div class="hero--navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="index.html">Current Students</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="colors.html">High School Students</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="sbu-icons.html">Visiting Students</a>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="index.html">Current Students</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="colors.html">High School Students</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="secondary-button button-block" data-match-height="hero-button" href="sbu-icons.html">Visiting Students</a>
                </div>
                
                
            </div>
        </div>
    </div>

<div class="hero-content">

	<div class="container">

		
			<div class="row"> 
				<div class="col-sm-3">
						<img class="hero--logo" src="http://it.stonybrook.edu/sites/it.stonybrook.edu/files/styles/thumbnail/public/20-adobe_acrobat_reader.png?itok=P_dNVvEc" class="hero-icon--small">
				</div>

				<div class="col-sm-9">

					<h1>Adobe Acrobat Reader</h1>

					<p class="introduction white">Adobe Acrobat Reader is a software product for viewing, printing, searching, and collaborating on portable document files (PDFs).</p>

				</div>
			</div>

			 <div class="row cozy">
  
      {{# listItems.three }}
  		<div class="col-xs-12 col-md-4">    
        <a data-match-height="hero-buttons" class="hero-button button-block" href="{{url}}">{{headline.short}}</a>
    	</div>  
      {{/ listItems.three}}
    

    </div>

			
		</div>
	</div>
	
</section>


