<h3 class="content-header">Hero Fiddy</h3>
  {{> organisms-fiddy-hero }}

<h3 class="content-header">Videos</h3>
{{> organisms-fiddy-hero(showvideo:true, showbuttons: true) }}

<h3 class="content-header">With Nav</h3>
{{> organisms-fiddy-hero(shownav:true) }}
