<section id="hero-example" class="hero-classic hero__large">
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
      <h1>SOLAR</h1>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12">
      {{# listItems.three }}
      
        <a data-match-height="hero-buttons" class="hero-button" href="{{url}}">{{headline.short}}</a>
      
      {{/ listItems.three}}
    </div>

    </div>
  </div>
</section>