<section id="hero-example" class="hero-modern overlay-dark-gray hero-size-small">
        <div class="container">
          <div class="hero-modern--content">
              <div class="row hero-lead">
                <div class="col-sx-12 col-sm-12 col-md-12">
                  <h1 class="hero-modern--heading animated fadeInDown white">{{headline.medium}}</h1>
                
                  {{{paragraphs.double}}}
                  </div>                
                </div>
              </div>

                            <div class="row hero-buttons">

                  <div class="col-sm-12 col-md-6"><a data-match-height="hero-buttons" class="outline-button block text-center" href="https://echoserver.sinc.stonybrook.edu/ess">Instructor Login</a></div><div class="col-sm-12 col-md-6"><a data-match-height="hero-buttons" class="outline-button block text-center" href="http://echo360.com/learning-center">Learn More</a></div>
              </div>
            
              
                        </div>
          </div>
      </section>

   