<section class="hero-event hero-size-medium" style="background-image: url(http://it.stonybrook.edu/sites/all/modules/custom/doit_banners/default_banners/wolfie-1600.jpg);">
	<div class="hero-event--content-wrap">
		<div class="hero-event--content-text">
			<h1>Free Hot Cocoa - Commuter Appreciation Event</h1>
			<div class="event-time">Thursday, October 29th 8:30am - 10:00am</div><div class="event-room">Wolfie's Hut</div>

			<div class="hero-buttons one-button">

			<a class="outline-button" href="#">Add to Google Calendar</a></div>
		</div>
	</div>
</section>