<section class="hero-centered overlay-dark-gray hero-size-small" style="background-image: url(http://it.stonybrook.edu/sites/all/modules/custom/doit_banners/default_banners/wolfie-1600.jpg);">
        <div class="container">
          <div class="hero-centered--content">
              <div class="row hero-lead">
                <div class="col-sx-12 col-sm-12 col-md-12">
                  <h1 class="hero-centered--heading animated fadeInDown white">{{headline.medium}}</h1>
                
                  {{{paragraphs.double}}}
                  </div>                
                </div>
              </div>

                            <div class="row hero-buttons">

                  <div class="col-sm-12 col-md-6"><a data-match-height="hero-buttons" class="outline-button block text-center" href="https://echoserver.sinc.stonybrook.edu/ess">Instructor Login</a></div><div class="col-sm-12 col-md-6"><a data-match-height="hero-buttons" class="outline-button block text-center" href="http://echo360.com/learning-center">Learn More</a></div>
              </div>
            
                          <div class="row hero-status">
                <div class="col-sm-12">
                <div class="hero-status-content">
                  <i class="sbuicon-check-circle emerald-before"></i> This system is reported to be online<br><i class="sbuicon-calendar river-before"></i> This service is scheduled for maintenance on: <a href="/status/entry/16236">11/11/2015 5:00 am</a>, <a href="/status/entry/16241">12/9/2015 5:00 am</a>                  </div>
                </div>
              </div>
                        </div>
          </div>
      </section>