<section id="hero-example" class="hero-classic">
  <div class="hero--content fluffy">
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
      <h1>SOLAR</h1>
  </div>
  </div>
  <div class="row">
   {{# listItems.three }}
      <div class="col-xs-12 col-md-4">    
        <a data-match-height="hero-buttons" class="hero-button button-block" href="{{url}}">{{headline.short}}</a>
      </div>  
      {{/ listItems.three}}

    </div>
  </div>
  </div>
</section>