
<section class="hero-classic hero__small overlay-gray" data-background="../../releases/latest/images/backgrounds/images/technology-bg.jpg" style="background-image: url('../../releases/latest/images/backgrounds/images/technology-bg.jpg'); background-size: cover; background-position: 50% 50%;">

	<div class="container">

		<div class="hero-icon-container">
			<div class="row">
				<div class="col-md-2 left">
						<img src="http://it.stonybrook.edu/sites/it.stonybrook.edu/files/styles/thumbnail/public/20-adobe_acrobat_reader.png?itok=P_dNVvEc" style="max-height: 100px; max-width: 100px;">
				</div>

				<div class="col-md-10 left">

					<h2 class="page-title white">Adobe Acrobat Reader</h2>
					<p class="white">Adobe Acrobat Reader is a software product for viewing, printing, searching, and collaborating on portable document files (PDFs).</p>

				</div>
			</div>

			<div class="row cozy">

				<div class="col-md-4 col-sm-6 half-padding">

					<a data-match-height="hero-buttons" class="hero-button block centered" href="#" style="height: 67px;">Download</a>

				</div>
				<div class="col-md-4 col-sm-6 half-padding">

					<a data-match-height="hero-buttons" class="hero-button block centered" href="#" style="height: 67px;">Report A Problem</a>

				</div>
			</div>
		</div>
	</div>
</section>
