<div class="hero-article">
	<a href="http://it.doitsbu.localhost.stonybrook.edu:8080/news/articles/now-accepting-applications-for-the-richard-w-reeder-endowed-scholarship">
		<img typeof="foaf:Image" src="http://it.stonybrook.edu/sites/it.stonybrook.edu/files/heros/october_2015/desktop/rw_1900x7.jpg" width="1900" height="700" alt="">
	</a>
	<div class="hero-article--content-wrap">
		<div class="hero-article--content-text">
			<h1 class="hero-article--content-heading"><a href="/news/articles/now-accepting-applications-for-the-richard-w-reeder-endowed-scholarship">{{headline.medium}}</a></h1>
			
			{{{paragraphs.double}}}
		</div>
		
	</div>
</div>