<h3 class="content-header">Modern Hero</h3>
  {{> organisms-modern-hero }}

<h3 class="content-header">With Buttons</h3>
{{> organisms-modern-hero(showbuttons: true) }}

<h3 class="content-header">With Nav</h3>
{{> organisms-modern-hero(shownav:true) }}

<h3 class="content-header">Full</h3>
{{> organisms-modern-hero(showbuttons:true, shownav:true) }}
