<h3 class="content-header">Hero Split</h3>
  {{> organisms-split-hero }}

<h3 class="content-header">Videos</h3>
{{> organisms-split-hero(showvideo:true, showbuttons: true) }}

<h3 class="content-header">With Nav</h3>
{{> organisms-split-hero(shownav:true) }}
