	&lt;a class=&quot;circle-btn&quot;&gt;Circle Button&lt;/a&gt;

	&lt;a class=&quot;circle-btn&quot;&gt;Circle Button&lt;/a&gt;

	&lt;a class=&quot;circle-btn&quot;&gt;Circle Button&lt;/a&gt;

	&lt;a class=&quot;circle-btn&quot;&gt;Circle Button&lt;/a&gt;

	&lt;a class=&quot;circle-btn block&quot;&gt;Circle Button Block&lt;/a&gt;

	&lt;a class=&quot;circle-btn block&quot;&gt;Circle Button Block&lt;/a&gt;

	&lt;a class=&quot;circle-btn block&quot;&gt;Circle Button Block&lt;/a&gt;
	
	&lt;a class=&quot;circle-btn block&quot;&gt;Circle Button Block&lt;/a&gt;