/*
$grids: add-grid(1);
$grids: add-grid(4 at $break);
$grids: add-grid(16 at $break2);
$grids: add-grid(16 at $break3);
$grids: add-grid(16 at $break4);
*/
/* Styles unique to styleguide only */
/* line 7, stdin */
.todo, .todo li {
  list-style: none;
  list-style-type: none; }

/* line 12, stdin */
.todo li:before {
  content: "TODO:";
  margin-right: 1em; }

/* line 17, stdin */
.icon-exp {
  padding: .5em;
  margin-right: .3em;
  margin-top: .3em;
  border: 0.1em solid #ccc;
  background-color: #fff;
  display: inline-block; }

/* line 26, stdin */
.color-blurb {
  min-height: 50px;
  padding: 1em;
  text-align: center;
  border-radius: .7em;
  margin-bottom: .7em; }

/* icon catalog */
/* line 35, stdin */
ul.icons li {
  width: 60px;
  border: 3px solid #ccc;
  display: inline-block;
  margin: 5px;
  text-align: center;
  padding: 5px; }

/* line 44, stdin */
ul.icons li:hover {
  border: 3px solid #990000; }

/* line 48, stdin */
ul.icons li span:before {
  font-size: 1.5em; }

/* line 52, stdin */
.overlay-card, .color-card {
  height: 100px;
  width: 30%;
  float: left;
  margin: 1.5%; }

/* line 59, stdin */
.color-picker li, .overlay-picker li {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  display: inline-block;
  margin-left: 5px; }

/* line 67, stdin */
.padding-picker li {
  border: 1px solid #fff;
  display: inline-block;
  margin-left: 5px;
  background-color: #fff;
  color: #000;
  padding-left: 10px;
  padding-right: 10px; }

/* line 77, stdin */
.highlightcard {
  border-width: 5px; }

/* this is the floating div with all the class names and fun stuff */
/* line 82, stdin */
.class_box {
  position: fixed;
  width: 300px;
  right: 1em;
  top: 10em;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #a4a4a4;
  box-shadow: 0px 0px 5px 0px #a4a4a4;
  border: 1px solid gray;
  z-index: 99999;
  float: right;
  text-align: right;
  display: none;
  font-weight: bold; }

/* line 98, stdin */
.class_box h2 {
  background-color: #4D4F53;
  color: #E3E5DD;
  font-size: 14px;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 5px 10px; }

/* line 108, stdin */
.class_box p {
  text-align: left;
  padding: 10px;
  margin-bottom: 0px; }

/* line 114, stdin */
.class_icon {
  border: 3px solid #4D4F53;
  text-align: center;
  padding: 5px 5px 5px 15px;
  background-color: white; }

/* line 121, stdin */
#hero-example {
  background-image: url("../images/sample/wolfie-550.jpg"); }
  @media (min-width: 800px) {
    /* line 121, stdin */
    #hero-example {
      background-image: url("../images/sample/wolfie-1200.jpg"); } }
  @media (min-width: 960px) {
    /* line 121, stdin */
    #hero-example {
      background-image: url("../images/sample/wolfie-1600.jpg"); } }
