<div class="classic-blurb">
    {{# icon }}
    <span class="classic-blurb--icon {{icon}}"></span>
    {{/ icon }}

    <div class="classic-blurb--content">
        <h2 class="classic-blurb--heading">{{ headline.medium }}</h2>
        
        {{# headline.short }}
        <h3 class="classic-blurb--subheading">{{ headline.short }}</h3>
        {{/ headline.short }}
        
        <div class="classic-blurb--item">
            {{{paragraph.double}}}
        </div>
        
        {{# cta }}
        <div class="classic-blurb--cta">
            <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
        </div>
        {{/ cta }}

    </div>
</div>
