&lt;div class=&quot;row allowed-colors&quot;&gt;
    &lt;h3&gt;Official University Colors&lt;/h3&gt;
    &lt;p class=&quot;introduction&quot;&gt;These colors are officially sanctioned and used in University designs&lt;/p&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-red&quot;&gt;
            Red .red / .bg-red
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-dark-red white&quot;&gt;
            Dark Red .dark-red / .bg-dark-red
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-gray&quot;&gt;
            Gray .gray / .bg-gray
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-light-gray&quot;&gt;
            light-gray .light-gray / .bg-light-gray
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-dark-gray white&quot;&gt;
            dark-gray .dark-gray / .bg-dark-gray
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-white&quot;&gt;
            white .white / .bg-white
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-black white&quot;&gt;
            black  .black / .bg-black
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row allowed-colors&quot;&gt;
    &lt;h3&gt;Supplemental UI Colors&lt;/h3&gt;
    &lt;p class=&quot;introduction&quot;&gt;These should be used to highlight specific interface elements and should be used sparingly on a page.&lt;/p&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-alizarin white&quot;&gt;
            Alizarin .alizarin / .bg-alizarin
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-amethyst&quot;&gt;
            Amethyst .amethyst / .bg-amethyst
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-asphalt white&quot;&gt;
            Asphalt .asphalt / .bg-asphalt
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-emerald white&quot;&gt;
            Emerald .emerald / .bg-emerald
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-pom white&quot;&gt;
            Pomegranate .pom / .bg-pom
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-river white&quot;&gt;
            River .river / .bg-river
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-sun&quot;&gt;
            Sun .sun / .bg-sun
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-turquoise white&quot;&gt;
            Turquoise .turquiose / .bg-turquoise
        &lt;/div&gt;
    &lt;/div&gt;
    
    
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
    
    &lt;h3&gt;Corporate Colors&lt;/h3&gt;
    &lt;p class=&quot;introduction&quot;&gt;These colors should only be used in conjunction with their corporate counter-part.&lt;/p&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-facebook&quot;&gt;
            facebook .facebook / .bg-facebook
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-twitter&quot;&gt;
            twitter .twitter / .bg-twitter
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-youtube&quot;&gt;
            youtube .youtube / .bg-youtube
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-google-plus&quot;&gt;
            google plus .google-plus / .bg-google-plus
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-tumblr&quot;&gt;
            tumblr .tumblr / .bg-tumblr
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-instagram&quot;&gt;
            instagram .instagram / .bg-instagram
        &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;color-card bg-yammer&quot;&gt;
            yammer .yammer / .bg-yammer
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
    &lt;h3&gt;Overlays&lt;/h3&gt;
    &lt;p class=&quot;introduction&quot;&gt;Overlays are placed over backgrounds to add contrast&lt;/p&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-black&quot;&gt;
            Overlay Black .overlay-black
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-gray&quot;&gt;
            Overlay Gray .overlay-gray
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-red&quot;&gt;
            Overlay Red .overlay-red
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-river&quot;&gt;
            Overlay River .overlay-river
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-turquoise&quot;&gt;
            Overlay Turquoise .overlay-turquoise
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-3 col-md-2&quot;&gt;
        &lt;div class=&quot;overlay-card overlay-white&quot;&gt;
            Overlay White .overlay-white
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /.row --&gt;