/* ==========================================================================
Hero
========================================================================== */
.hero-modern {
    position: relative;
   // padding: 60px 0 60px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    width: 100%;
}

.hero-modern--content {
    text-align: center;
    padding: 2em 0;
    p {
        margin: 1em 0;
    }
    p a {
        color: $red;
        border-bottom: 1px #ccc dashed;
    }
}