.hero__small {
    min-height: 250px;
    .content-wrap, .hero-modern--content {
        margin: 70px auto;
        font-weight: 300;
    }
}

.hero__medium {
    min-height: 500px;
    .content-wrap, .hero-modern--content {
        margin: 140px auto;
        font-weight: 300;
    }
}

.hero__large {
    min-height: 750px;
    .content-wrap, .hero-modern--content {
        margin: 210px auto;
        font-weight: 300;
    }
}




.hero--navigation{


    margin: 1em auto 0 auto;

    a{
        margin-bottom: 30px;
    }
}

.hero--navigation
{
   $i: 1;
   $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
    @for $i from (1 + 1) through $grid-columns {
   $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
 }
 #{$list} {

   padding-left:  0.5em;
   padding-right: 0.5em;
   margin-bottom: 1em;

 }
}


.hero--logo
{
    width: 100%;
    height: auto;
    min-width: 170px;

}
