.hero-classic {
    font-weight: 400;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.hero-classic h1 {
    color: #fff;
    margin-top: 0;
}

.hero-classic--navigation {
  margin: 1em 0;
}

.hero-classic--buttons {
  margin: 1em 0;
}

.hero-classic--navigation a{
  margin: 0.5em 0;
}

.hero-classic--content {
  margin: 1em 0;
}

.hero-classic--text a {
  color: $gray;
  border-bottom: 1px $gray dashed;
}

.hero-classic--text a:hover
{
  color: #fff;
  border-bottom: 1px #fff solid;
}
