   &lt;div class=&quot;drop-accordion&quot;&gt;
                &lt;div class=&quot;item&quot;&gt;
                    &lt;div class=&quot;tab&quot;&gt;
                        &lt;span class=&quot;icon sbuicon-angle-down&quot;&gt;&lt;/span&gt;
                        &lt;span&gt;College Fee ($0.85 per credit)&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;accordion-content hide-accessible&quot;&gt;
                        &lt;div class=&quot;accordion-content-wrap&quot;&gt;
                            &lt;p&gt;State University of New York (SUNY) Board of Trustees policy requires collection of the College Fee from all students. Proceeds from the fee are used to supplement campus operations.&lt;/p&gt;
                            &lt;p&gt;The College Fee is assessed to all students, and is prorated for part time students. For more information, &lt;a href=&quot;http://www.suny.edu/sunypp/documents.cfm?doc_id=395&quot; target=&quot;_blank&quot;&gt;see State University of New York (SUNY) Policy 7800&lt;/a&gt;.&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item&quot;&gt;
                    &lt;div class=&quot;tab&quot;&gt;
                        &lt;span class=&quot;icon sbuicon-angle-down&quot;&gt;&lt;/span&gt;
                        &lt;span&gt;Student Activity Fee&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;accordion-content hide-accessible&quot;&gt;
                        &lt;div class=&quot;accordion-content-wrap&quot;&gt;
                            &lt;p&gt;Undergraduates: $16 per session&lt;/p&gt;
                            &lt;p&gt;Graduates: $5 per session&lt;/p&gt;
                            &lt;p&gt;Undergraduate students may request a waiver of the student activity fee on the basis of employment, internship/clinical rotation, child care, or commuting. A written request must be submitted to:
                                &lt;br&gt; Undergraduate Student Government
                                &lt;br&gt; Suite 202, Student Activities Center
                                &lt;br&gt; Stony Brook University
                                &lt;br&gt; Stony Brook, N. Y. 11794-2800
                                &lt;br&gt; Telephone: (631) 632-6460&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item&quot;&gt;
                    &lt;div class=&quot;tab&quot;&gt;
                        &lt;span class=&quot;icon sbuicon-angle-down&quot;&gt;&lt;/span&gt;
                        &lt;span&gt;Academic Excellence Fee ($23 per session)&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;accordion-content hide-accessible&quot;&gt;
                        &lt;div class=&quot;accordion-content-wrap&quot;&gt;
                            &lt;p&gt;The SUNY Board of Trustees authorized the implementation of the Academic Excellence and Success Fee at University Centers, including Stony Brook, to provide financial resources necessary for maintaining quality academic and student success programs and to support NYSUNY2020&lt;/p&gt;
                            &lt;p&gt;The Academic Excellence and Success Fee is assessed to undergraduate, graduate, and professional degree students. For more information, &lt;a href=&quot;http://www.suny.edu/sunypp/documents.cfm?doc_id=398&quot; target=&quot;_blank&quot;&gt;see State University of New York (SUNY) Policy 7804&lt;/a&gt;.&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;item&quot;&gt;
                    &lt;div class=&quot;tab&quot;&gt;
                        &lt;span class=&quot;icon sbuicon-angle-down&quot;&gt;&lt;/span&gt;
                        &lt;span&gt;Campus Recreation Facilities Fee ($37 per session, undergraduates only)&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;accordion-content hide-accessible&quot;&gt;
                        &lt;div class=&quot;accordion-content-wrap&quot;&gt;
                            &lt;p&gt;The Campus Recreation Center is devoted to the health and wellness of Stony Brook students, faculty and staff and has become the center of activity on campus, averaging more than 2,000 users daily. The Recreation Facilites Fee is assessed only to undergraduate students.&lt;/p&gt;
                            &lt;p&gt;Graduate students who would like to utilize the recreation facility may opt in, and will be charged accordingly. Faculty and Staff members may also take advantage of an annual membership option. &lt;a href=&quot;http://studentaffairs.stonybrook.edu/rec/facilities/recreation-facilities-fee.html&quot; target=&quot;_blank&quot;&gt;Read more about the Campus Recreation Center/Fields Facilites Fee&lt;/a&gt;.&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;