&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{# emergency }}
			{{&gt; organisms-alert:emergency }}
		{{/ emergency }}
		{{# hero }}
			{{&gt; organisms-hero-modern }}
		{{/ hero}}

		{{# notification }}
			{{&gt; organisms-alert:notification }}
		{{/ notification }}
		
		
		&lt;div class=&quot;row fluffy&quot;&gt;

		&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;col-sm-12&quot;&gt;
		&lt;h2 class=&quot;text-center&quot;&gt;Accordions!&lt;/h2&gt;
		{{&gt; organisms-accordion}}
	&lt;/div&gt;
	&lt;/div&gt;
	&lt;/div&gt;


&lt;div class=&quot;row fluffy bg-light-gray&quot;&gt;

		&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;col-sm-12&quot;&gt;
		&lt;h2 class=&quot;text-center&quot;&gt;Tab!&lt;/h2&gt;
		{{&gt; organisms-tab}}
	&lt;/div&gt;
	&lt;/div&gt;
	&lt;/div&gt;



	&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;