&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{&gt; molecules-primary-nav}}

	&lt;div role=&quot;main&quot;&gt;
		{{# emergency }}
			{{&gt; organisms-alert:emergency }}
		{{/ emergency }}
		{{# hero }}
			
		{{/ hero}}

		{{# notification }}
			{{&gt; organisms-alert:notification }}
		{{/ notification }}
		
		
&lt;section class=&quot;fluffy&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;drop-accordion-cards&quot;&gt;
         {{# listItems.three }}
                
                    {{&gt; molecules-drop-accordion }} 
                
            {{/ listItems.three }}                
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;




&lt;section class=&quot;fluffy&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;

         {{# listItems.three }}
                &lt;div class=&quot;col-md-4&quot;&gt;
                    {{&gt; molecules-simple-blurb }} 
                &lt;/div&gt;
            {{/ listItems.three }}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;

&lt;section class=&quot;fluffy&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
         {{# listItems.three }}
                &lt;div class=&quot;col-md-4&quot;&gt;
                    {{&gt; molecules-classic-blurb }} 
                &lt;/div&gt;
            {{/ listItems.three }}                
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;




	&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;