<img src="{{ img.square.src }}" alt="{{ img.square.alt }}" /><br /><br />


<img src="{{ img.square.src }}" alt="{{ img.square.alt }}" class="img-rounded"><br /><br />
<img src="{{ img.square.src }}" alt="{{ img.square.alt }}" class="img-circle"><br /><br />
<img src="{{ img.square.src }}" alt="{{ img.square.alt }}" class="img-thumbnail"><br /><br />