<img src="../../releases/latest/images/social/facebook.png" />
<img src="../../releases/latest/images/social/flickr.png" />
<img src="../../releases/latest/images/social/google-plus.png" />
<img src="../../releases/latest/images/social/instagram.png" />
<img src="../../releases/latest/images/social/tumblr.png" />
<img src="../../releases/latest/images/social/twitter.png" />
<img src="../../releases/latest/images/social/yammer.png" />
<img src="../../releases/latest/images/social/youtube.png" />
