<img class="circle-image" src="{{ img.square.src }}" alt="{{ img.square.alt }} circle image" />

<img class="circle-image-med" src="{{ img.square.src }}" alt="{{ img.square.alt }} circle image medium" />

<img class="circle-image-large" src="{{ img.square.src }}" alt="{{ img.square.alt }} circle image large" />


<img class="flat-circle-image" src="{{ img.square.src }}" alt="{{ img.square.alt }} circle image large" />