  
                &lt;p&gt;
                    These widths can be defined on any appropriate item (div, table, td etc.)
                &lt;/p&gt;

                &lt;div class=&quot;width-100-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-100-percent&lt;/div&gt;
                &lt;div class=&quot;width-90-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-90-percent&lt;/div&gt;
                &lt;div class=&quot;width-80-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-80-percent&lt;/div&gt;
                &lt;div class=&quot;width-70-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-70-percent&lt;/div&gt;
                &lt;div class=&quot;width-60-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-60-percent&lt;/div&gt;
                &lt;div class=&quot;width-50-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-50-percent&lt;/div&gt;
                &lt;div class=&quot;width-40-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-40-percent&lt;/div&gt;
                &lt;div class=&quot;width-30-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-30-percent&lt;/div&gt;
                &lt;div class=&quot;width-20-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-20-percent&lt;/div&gt;
                &lt;div class=&quot;width-10-percent bg-red white margin-top-1em margin-bottom-1em padding-top-1em padding-bottom-1em&quot;&gt;width-10-percent&lt;/div&gt;
