


        
        
                            &lt;table class=&quot;light-grey-table&quot;&gt;
                                &lt;tbody&gt;&lt;tr&gt;
                                    &lt;th&gt;Entry Term&lt;/th&gt;
                                    &lt;th&gt;Priority Deadline&lt;/th&gt;
                                    &lt;th&gt;Credentials Deadline&lt;/th&gt;
                                    &lt;th&gt;Notification Schedule&lt;/th&gt;
                                &lt;/tr&gt;
                                &lt;tr&gt;
                                    &lt;td&gt;&lt;strong&gt;Fall 2015&lt;/strong&gt;&lt;/td&gt;
                                    &lt;td&gt;January 15&lt;/td&gt;
                                    &lt;td&gt;February 1&lt;/td&gt;
                                    &lt;td&gt;By April 1*&lt;/td&gt;
                                &lt;/tr&gt;
                                &lt;tr&gt;
                                    &lt;td&gt;&lt;strong&gt;Spring 2015&lt;/strong&gt;&lt;/td&gt;
                                    &lt;td&gt;November 1&lt;/td&gt;
                                    &lt;td&gt;November 1&lt;/td&gt;
                                    &lt;td&gt;Beginning Mid-November&lt;/td&gt;
                                &lt;/tr&gt;
                            &lt;/tbody&gt;&lt;/table&gt;


