   &lt;nav class=&quot;main-site-nav-wrap&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
                    &lt;div class=&quot;main-site-nav&quot;&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Services&lt;/a&gt;
                                &lt;ul&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Services A-Z&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Services By Category&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Reports&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/nav&gt;
