

    <h3>Official University Colors</h3>
    <p class="introduction">These colors are officially sanctioned and used in University designs</p>
    
        <div class="color-card bg-red">
            Red .red / .bg-red
        </div>
    
    
        <div class="color-card bg-dark-red white">
            Dark Red .dark-red / .bg-dark-red
        </div>
    
    
        <div class="color-card bg-gray">
            Gray .gray / .bg-gray
        </div>
    
    
        <div class="color-card bg-light-gray">
            light-gray .light-gray / .bg-light-gray
        </div>
    
    
        <div class="color-card bg-dark-gray white">
            dark-gray .dark-gray / .bg-dark-gray
        </div>
    
    
        <div class="color-card bg-white">
            white .white / .bg-white
        </div>
    
    
        <div class="color-card bg-black white">
            black  .black / .bg-black
        </div>
    
    <div class="clear"></div>

    <h3>Supplemental UI Colors</h3>
    <p class="introduction">These should be used to highlight specific interface elements and should be used sparingly on a page.</p>

        <div class="color-card bg-alizarin white">
            Alizarin .alizarin / .bg-alizarin
        </div>

        <div class="color-card bg-amethyst">
            Amethyst .amethyst / .bg-amethyst
        </div>

        <div class="color-card bg-asphalt white">
            Asphalt .asphalt / .bg-asphalt
        </div>

        <div class="color-card bg-emerald white">
            Emerald .emerald / .bg-emerald
        </div>

        <div class="color-card bg-pom white">
            Pomegranate .pom / .bg-pom
        </div>

        <div class="color-card bg-river white">
            River .river / .bg-river
        </div>

        <div class="color-card bg-sun">
            Sun .sun / .bg-sun
        </div>

        <div class="color-card bg-turquoise white">
            Turquoise .turquiose / .bg-turquoise
        </div>

        <div class="clear"></div>
    
    <h3>Corporate Colors</h3>
    <p class="introduction">These colors should only be used in conjunction with their corporate counter-part.</p>
   
        <div class="color-card bg-facebook">
            facebook .facebook / .bg-facebook
        </div>
   
        <div class="color-card bg-twitter">
            twitter .twitter / .bg-twitter
        </div>
   
        <div class="color-card bg-youtube">
            youtube .youtube / .bg-youtube
        </div>
   
        <div class="color-card bg-google-plus">
            google plus .google-plus / .bg-google-plus
        </div>
   
        <div class="color-card bg-tumblr">
            tumblr .tumblr / .bg-tumblr
        </div>
   
        <div class="color-card bg-instagram">
            instagram .instagram / .bg-instagram
        </div>
   
        <div class="color-card bg-yammer">
            yammer .yammer / .bg-yammer
        </div>

<div class="clear"></div>
   
    <h3>Overlays</h3>
    <p class="introduction">Overlays are placed over backgrounds to add contrast</p>
        <div class="overlay-card overlay-black">
            Overlay Black .overlay-black
        </div>
   
        <div class="overlay-card overlay-gray">
            Overlay Gray .overlay-gray
        </div>
   
        <div class="overlay-card overlay-red">
            Overlay Red .overlay-red
        </div>
   
        <div class="overlay-card overlay-river">
            Overlay River .overlay-river
        </div>
   
        <div class="overlay-card overlay-turquoise">
            Overlay Turquoise .overlay-turquoise
        </div>
   
        <div class="overlay-card overlay-white">
            Overlay White .overlay-white
        </div>
   
<!-- /.row -->