<div class="simple-blurb-card" data-match-height="simple-blurb-card">
   

    {{# iframe.src }}  
    <div class="simple-blurb-card--video-container">  
        <iframe class="simple-blurb-card--video" src="{{iframe.src}}" allowfullscreen /></iframe>
    </div>
    {{/ iframe.src }}


    {{# icon }}
    <span class="simple-blurb-card--icon {{icon}}"></span>
    {{/ icon }}


    {{# img}}
    <img class="simple-blurb-card--image" src="{{img.landscape-16x9.src}}" />
    {{/ img }}

    <h2 class="simple-blurb-card--heading">{{ headline.medium }}</h2>
    
	{{# headline.short }}
    <h3 class="simple-blurb-card--subheading">{{ headline.short }}</h3>
    {{/ headline.short }}

    <div class="simple-blurb-card--text">
        {{{paragraph.double}}}
    </div>

    
    {{# cta }}
    <div class="simple-blurb-card--cta">
        <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
    </div>
    {{/ cta }}

</div>
