<div class="boldMoves">
	<div class="wpb_wrapper">
		<h2>We’re Making <span>Bold Moves</span></h2>
		<p class="jumpAwayLink"><a href="http://stonybrook.edu/happenings/">See All Stories&nbsp;<i class="fa fa-long-arrow-right"></i></a></p>


	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/branding.jpg')">
				<a href="http://www.stonybrook.edu/happenings/featuredpost/stony-brook-goes-far-beyond-the-expected/?spotlight=1" class="boldMovesBox-title">
					<h3>Going Far Beyond the Expected <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/featuredpost/stony-brook-goes-far-beyond-the-expected/?spotlight=1" class="boldMovesBox-story">
					<p>Stony Brook unveils new brand strategy</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/university" class="boldMovesBox-link gtm-category-link"><span>All </span>University<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/comm2.jpg')">
				<a href="http://www.stonybrook.edu/happenings/oncampus/eric-holder-soledad-obrien-to-receive-honorary-degrees-at-2016-commencement/?spotlight=2" class="boldMovesBox-title">
					<h3>Honoring Excellence <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/oncampus/eric-holder-soledad-obrien-to-receive-honorary-degrees-at-2016-commencement/?spotlight=2" class="boldMovesBox-story">
					<p>Eric H. Holder, Jr., Soledad O’Brien to receive honorary degrees</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/university" class="boldMovesBox-link gtm-category-link"><span>All </span>University<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/james-joyce-2.jpg')">
				<a href="http://www.stonybrook.edu/happenings/featuredpost/digital-innovation-in-the-english-department/?spotlight=3" class="boldMovesBox-title">
					<h3>Digitizing Ulysses <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/featuredpost/digital-innovation-in-the-english-department/?spotlight=3" class="boldMovesBox-story">
					<p>Honors course uses new media to study James Joyce</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/humanities" class="boldMovesBox-link gtm-category-link"><span>All </span>Humanities<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/beats.jpg')">
				<a href="http://www.stonybrook.edu/happenings/oncampus/students-beautify-campus-with-heartbeats-mural/?spotlight=4" class="boldMovesBox-title">
					<h3>Bringing Beauty to Campus <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/oncampus/students-beautify-campus-with-heartbeats-mural/?spotlight=4" class="boldMovesBox-story">
					<p>Naveen Mallangada ’17 leads creation of "Heartbeats" mural</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/student-spotlight" class="boldMovesBox-link gtm-category-link"><span>All </span>Students<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/navigatorspot.jpg')">
				<a href="http://www.stonybrook.edu/happenings/facultystaff/confidential-advocacy-and-support-for-survivors-of-sexual-and-interpersonal-violence/?spotlight=5" class="boldMovesBox-title">
					<h3>Providing Advocacy and Support <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/facultystaff/confidential-advocacy-and-support-for-survivors-of-sexual-and-interpersonal-violence/?spotlight=5" class="boldMovesBox-story">
					<p>Complainant navigator steers students through crisis</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/health-safety" class="boldMovesBox-link gtm-category-link"><span>All </span>Wellness<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	        <div class="boldMovesBox gtm-home-spotlight" style="background-image: url('http://www.stonybrook.edu/happenings/wp-content/uploads/titanium.jpg')">
				<a href="http://www.stonybrook.edu/happenings/research/titanium-dioxide-exposure-increases-risk-of-bacterial-infection/?spotlight=6" class="boldMovesBox-title">
					<h3>Probing the effect of chemicals on health <i class="fa fa-angle-right"></i></h3>
				</a>
				<a href="http://www.stonybrook.edu/happenings/research/titanium-dioxide-exposure-increases-risk-of-bacterial-infection/?spotlight=6" class="boldMovesBox-story">
					<p>Titanium dioxide exposure increases risk of bacterial infection</p>
					<span class="boldMovesBox-fullStory">Read Story</span>
					<span href="javascript:void(0);" class="close-boldMovesBox"><span class="close-boldMovesBox-x">Back to story</span></span>
				</a>
				<a href="http://stonybrook.edu/happenings/category/research" class="boldMovesBox-link gtm-category-link"><span>All </span>Research<span> News <i class="fa fa-long-arrow-right"></i></span></a>
			</div>

	</div><!-- /.wpb_wrapper -->
</div>
