<div class="box-card" data-match-height="box-card">
                    <h3 class="box-card--heading">{{headline.short}}</h3>
                    <div class="box-card--content" data-match-height="box-card--content">
                        {{{paragraph.double}}}
                    </div>

                      {{# cta }}
    <div class="box-card--cta">
        <a href="{{cta.url}}" class="{{cta.class}}">{{cta.text}}</a>
    </div>
    {{/ cta }}
                    
                </div>

