<div class="stat-card">
	<span class="stat-card--icon {{icon}}"></span>
	<h3 class="stat-card--heading">$<span class="count-to" data-countto="18">18</span>%</h3>
	<h4 class="stat-card--subheading">Total Sinc Sites</h4>
</div>

